//
// Algunos parámetros de configuración
//

// Define el tamaño de pantalla a partir del cual consideramos móvil / pantalla pequeña
$small-screen-width: 767px;

// Colores de fondo de los centros
$backcolor-centro-estce: #007996;
$backcolor-centro-fcs: #007996;
$backcolor-centro-fchs: #007996;
$backcolor-centro-fcje: #007996;
$backcolor-centro-unknown: #007996;

// Degradados para los centros
$backcolordegrad-centro-estce: rgba(0, 121, 150, 0.2);
$backcolordegrad-centro-fcs: rgba(0, 121, 150, 0.2);
$backcolordegrad-centro-fchs: rgba(0, 121, 150, 0.2);
$backcolordegrad-centro-fcje: rgba(0, 121, 150, 0.2);
$backcolordegrad-centro-unknown: rgba(0, 121, 150, 0.2);

$backcolordegrad-estce-prin: darken($backcolordegrad-centro-estce, 5%);
$backcolordegrad-fcs-prin: darken($backcolordegrad-centro-fcs, 5%);
$backcolordegrad-fchs-prin: darken($backcolordegrad-centro-fchs, 5%);
$backcolordegrad-fcje-prin: darken($backcolordegrad-centro-fcje, 5%);
$backcolordegrad-unknown-prin: darken($backcolordegrad-centro-unknown, 5%);

// Color de primer plano de un centro
$fgcolor-centro: white;

// Tipo de titulación seleccionada
$backcolor-tipo-active: #c7c7c7;
$fgcolor-tipo-active: black;

// Tipo de titulación no seleccionado
$backcolor-tipo-not-active: #f1f1f1;
$fgcolor-tipo-not-active: #6E6E6E;

// Color de filtros
$backcolor-btn-filtro: #efefef;
$backcolor-btn-filtro-seleccionado: #d0d0d0;
$backcolor-btn-filtro-buscar: #007996;
$fgcolor-btn-filtro-buscar: white;

// Colores de título
$backcolor-titulo-contenido: #545454;
$fgcolor-titulo-contenido: white;

// Colores de negritas :-/
$fgcolor-bold: #545454;
$fgcolor-grey: #949496;
$fgcolor-grey-medio: #ddd;
$fgcolor-grey-subtitulo: #bbb;
$fgcolor-grey-claro: #efefef;
$fgcolor-grey-subtitulo-deg: lighten($fgcolor-grey-subtitulo, 10%);

// Color de fondo de un evento no-seleccionado en el horario
$color-event-disabled: #dedede;

$backcolor-btn-desplegable:#002744;

