.eep {
  .descripcion {
    text-align: justify !important;
    p{
      margin-top: 0px;
    }
  }
  .asig {
    font-weight: bold;
    margin-top: 5px;
  }
  .contenido {
    margin-left: 16px;
    margin-right: 16px;
  }
  p {
    margin-top: 1em;
  }
  .descrip{
    display: inline;
  }

  li {
    list-style-type: none;
    font-size: 1em !important;
    list-style: disc;
    margin-left: 2.5rem;
  }
  a{
    font-weight: bold;
    &:link {
      text-decoration: underline;
    }
  }
}