h3 {
  font-weight: bold;
}
.examenes {
  h3 {
    text-transform: uppercase;
  }
  .row {
    padding-left: 16px;
  }
}
.evaluacion-contenido {
  padding-left: 16px;
  h3 {
    margin: 1em 0em 1em 0em;
  }
}

.etiqueta {
  font-weight: bold;
  text-transform: uppercase;
}

.actionlink {
  margin: 1em 0em 1em 0em;
}


.caja-evaluacion {
  background-color: $fgcolor-grey-claro;
  padding: 0.5em 1em 0.5em 1em;
  li {
    margin-bottom: 0.2em;
  }
  .valor {
    font-weight: bold;
    color: $fgcolor-grey !important;
    font-size: 3em !important;
  }
  .titulo {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
  }
}
.criterios {
  p {
    margin-left: 1em;
  }
}