/* ---- Start FOOTER ---- */
footer {

  font-size: 15px !important;
  line-height: 1.6;
  color: #71757f;
  margin-top: 3rem;

  /* padding horizontal dinamico */

  .responsive-padding-horizontal {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  @media (max-width: 1023px) {
    .responsive-padding-horizontal {
      padding-left: 2rem;
      padding-right: 2rem;}
  }

  /* End padding horizontal dinamico */
  .flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }

  .flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }

  .flex-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .barTop {
    padding: 1rem 0;
    background-color: #002744;
    margin-bottom: 1rem;
  }

  p {
    margin-top: 0;
    margin-bottom: 0;
  }

  a {
    text-decoration: none;
    color: #002744;
    margin-right: 8px;
    margin-left: 8px;
  }

  a:hover {
    color: #02c;
  }

  .mediumText p {
    font-size: 13px !important;
    line-height: 1.6;
  }

  .lineFooter{
    text-align: center;
  }
  .lineFooter::before, .lineFooter:after {
    height: 1px;
    background: #c1c0c075;
    display: inline-block;

    content: "";
    width: 100%;
    position: relative;
    top: 0;
  }

  .lineFooter::after {
    top: -4px;
  }

  .logoENS {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: .5;
    margin-top: 10px;
    width: auto;
    height: 85px;
  }

  .logoENS:hover {
    -webkit-filter: none;
    filter: none;
    opacity: 1;
    transition: 0.5s;
  }
}


/* ---- End FOOTER ---- */