.uji-header {
  header {
    background: #002744;
    color: #fff;
    padding: 0.5rem 0;
    padding-left: 3rem;
    padding-right: 3rem;
  }
  @media (max-width: 1023px) {
    header {
      padding-left: 2rem;
      padding-right: 2rem;}
  }

  main {
    flex-grow:1;}

  footer {
    text-align: center;
    margin-bottom: 3rem;
    color: #71757f;
    font-size:15px;
    line-height: 1.6;
    text-rendering: optimizeLegibility;
  }

  .wrap {
    max-width: 1200px;
    margin: 0 auto;
  }
  .wrap:before,header .wrap:after{display:none;}

  /* End body, header, main, wrap */

  /* padding horizontal dinamico */

  .responsive-padding-horizontal {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  @media (max-width: 1023px) {
    .responsive-padding-horizontal {
      padding-left: 2rem;
      padding-right: 2rem;}
  }

  /* End padding horizontal dinamico */

  /* Start Flex Structure */

  .flex {
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
  }
  .flex-wrap {
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
  }

  .flex-space-between {
    -webkit-box-pack:justify;
    -webkit-justify-content:space-between;
    -ms-flex-pack:justify;
    justify-content: space-between;
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    -webkit-align-content:center;
    -ms-flex-line-pack:center;
    align-content:center;
  }

  .flex-end {
    -webkit-box-pack:end;
    -webkit-justify-content:flex-end;
    -ms-flex-pack:end;
    justify-content:end;
    -webkit-box-align:end;
    -webkit-align-items:flex-end;
    -ms-flex-align:end;
    align-items:end;
    -webkit-align-content:flex-end;
    -ms-flex-line-pack:end;
    align-content:end;
  }

  .flex-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
  }


  /* End Flex Structure */

  /* Start Hide elements  */

  @media (max-width: 639px) {
    .hide-small {
      display: none !important;
    }
  }
  @media (max-width: 1023px) {
    .hide-medium {
      display: none !important;
    }
  }
  @media (min-width: 1024px) {
    .hide-large {
      display: none !important;
    }
  }

  /* End Hide elements */

  /* ---- Start HEADER ---- */

  header h1 {
    margin-top: 0;
    margin-bottom: 0;
    line-height:1;
    padding-right: 1.2rem;
    font-size: 2em;
  }
  @media (max-width: 1023px) {
    header h1 {padding-right:.6rem;}
  }

  /* Text */
  header .title-page {
    display: inline-block;
    padding-left: 10px;
    font-size: 19px !important;
    font-weight: 700;
    font-family: "Bellota Text", Helvetica, Arial, sans-serif;
  }
  /* End Text */

  /* Idioma */

  header .bold {font-weight: 700;}

  header .idioma a {padding: 0.7rem 0.5rem;}

  /* End Idioma */

  header a:hover {color:inherit;}

  /* Images */
  header img {
    vertical-align: bottom;
  }
  .logout-icon {
    padding: 0 0 0 22px;
  }

  .logout-icon>div {
    background:url(https://static.uji.es/design/www.uji.es/2021/assets/img/editlogout.png) no-repeat;
    background-position:-60px -2px!important;
    display:inline-block;
    width:25px;
    height:25px;
  }
  /* End Images */

  /* START DROPDOWN MENU */

  a.menu-btn {
    line-height: 1;
    background-color: #002744;
    color: white;
    font-size: 14px !important;
    text-decoration: none;
    display: inline-block;
    padding: 1px 22px;
  }

  .dropdown {
    position: relative;
  }
  .dropdown .menu-btn::after {
    display: inherit;
    width: 0;
    height: 0;
    border: inset 6px;
    content: "";
    border-bottom-width: 0;
    border-top-style: solid;
    border-color: white transparent;
    margin-left: 6px;
    margin-bottom: 1px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: .4em;
    min-width:max-content;
  }

  .dropdown-content a {
    color: #002744;
    font-weight: 400;
    font-size: 14px !important;
    text-decoration: none;
    display: block;
    padding: .4em .8em;
    line-height: 1;
  }
  .dropdown-content a:hover {
    color: #02c;
  }

  /* END DROPDOWN MENU */

  /* Start menuMobile icon */

  header .menu-icon {
    position:relative;
    display:inline-block;
    vertical-align:middle;
    width:20px;
    height:16px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
  }

  header .menu-icon::after {
    position:absolute;
    top:0;
    left:0;
    display:block;
    width:100%;
    height:2px;
    background:#fff;
    -webkit-box-shadow:0 7px 0 #fff,0 14px 0 #fff;
    box-shadow:0 7px 0 #fff,0 14px 0 #fff;
    content:''
  }

  header .menu-icon:hover::after {
    background:#cacaca;
    -webkit-box-shadow:0 7px 0 #cacaca,0 14px 0 #cacaca;
    box-shadow:0 7px 0 #cacaca,0 14px 0 #cacaca
  }

  .show-for-sr, .show-on-focus {
    position: absolute!important;
    width: 1px !important;
    height: 1px !important;
    padding: 0!important;
    overflow: hidden!important;
    clip: rect(0,0,0,0)!important;
    white-space: nowrap!important;
    border: 0!important;
  }

  /* End menuMobile icon */

  /* Start SideBar */

  #mySidenav {
    display: none;
  }
  .sidenav {
    width: 100%;
    transition: 0.5s;
    font-size: 19px;
    font-family:"Bellota Text",Helvetica,Arial,sans-serif;
    font-weight:700;
    line-height: 1;
  }

  .sidenav .logout-icon {padding:.7rem 1rem;}

  .sidenav .logout-icon>div{
    background-position:-89px -2px!important}

  .sidenav a {
    color: #002744;
    background:white;
  }

  .sidenav a:hover {
    color:#02c;
  }

  .sidenav .closebtn {
    text-align: end;
    font-size: 36px !important;
    padding: 0 2rem 0;
    text-decoration: none;
    display: block;
  }

  .sidenav>div {
    flex-direction: column;
    padding: 0 1rem 1rem;}

  .sidenav .menu-btn {
    font-size: 19px !important;
    padding: 0.7rem 1rem;
  }

  .sidenav .dropdown .menu-btn:after {
    border-color: #002744 transparent;
    margin-left: 5px;
    margin-bottom: 2px;
  }

  .sidenav .dropdown-content a {

    font-weight: 700;
    font-size: 17px !important;
    padding: 0.4em;
    max-width: 200px;
  }

  /* End SideBar */

  .sub-header {
    flex-direction: column;
    padding-right: 8px;
    .fecha {
      margin-top: 1em;
      //float: right;
    }
    .manual {
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      a {
        color: #002b44;
      }
    }
  }

  /* ---- End HEADER ---- */
  .curso-no-activo {
    position: fixed;
    bottom: 0px;
    left: 0px;

    background-color: red;
    color: white;
    z-index: 30000;
    width: 100%;
    min-height: 2em;
    opacity: 0.8;
    padding: 2em;

    p {
      text-align: center;
      font-size: 1.4em !important;
    }
  }
}

