.informacion {
  .contenido{
    padding-left: 16px;
  }
  h3{
    font-weight: bold;
    margin: 1em 0em 1em 0em;
  }
  li{
    list-style: disc;
    margin-left: 2.5rem;
    text-decoration: underline;
  }
}

