.itinerarios {

  .estudio {
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 16px;
    margin-top: 10px;
    margin-bottom: 1.5em;
    font-size: 1.3rem !important;
    background-color: #bbb;
    color: white;
  }
  .subsubtitulo{
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 16px;
    margin-bottom: 20px;
    font-size: 1.3rem !important;
    background-color: $fgcolor-grey-subtitulo;
    color: white;
    padding: 0.7rem;
  }

  .creditos{
    font-weight: bold;
  }


  .menciones {
    margin-top: 1em;
  }

  .itinerario {
    padding-left: 16px;
    margin-bottom: 20px;

    .titulo {
      font-weight: bold;
      text-transform: uppercase;
    }
    .apartado h2 {
      font-size: 1.2em !important;
      font-weight: bold;
      padding: 0px;
      margin-bottom: 20px;
    }
    .info {
      text-align:center;
    }
    table {

      width: 100%;
      border: none;
      margin-top: 0.5em;
      padding: 0.5em;

      font-size: 1.5em !important;

      thead {
        background: none;

        tr {
          border-bottom: 1px solid $fgcolor-grey;

          th {
            padding: 0 0 0.5em 0;
            font-weight: bold;
          }
        }
      }
      tbody {
        td {
          font-size: 0.8em !important;
          min-width: 6em;
          padding: 5px 0px 0px 0px;
          margin-bottom: 10px;
          vertical-align:middle;
        }
      }
    }

  }
  .asignatura {
    font-weight: bold;
    text-transform: uppercase;
  }
}

