// Colores de los centros
.estce {
  background-color: $backcolor-centro-estce;
  color: white;
}
.fcs {
  background-color: $backcolor-centro-fcs;
  color: white;
}
.fchs {
  background-color: $backcolor-centro-fchs;
  color: white;
}
.fcje {
  background-color: $backcolor-centro-fcje;
  color: white;
}
.unknown {
  background-color: $backcolor-centro-unknown;
}

// Colores degradados de los centros
.estce-deg {
  background-color: $backcolordegrad-centro-estce;
}
.fcs-deg {
  background-color: $backcolordegrad-centro-fcs;
}
.fchs-deg {
  background-color: $backcolordegrad-centro-fchs;
}
.fcje-deg {
  background-color: $backcolordegrad-centro-fcje;
}
.unknown-deg {
  background-color: $backcolordegrad-centro-unknown;
}
.estce-deg-prin {
  background-color: $backcolordegrad-estce-prin;
}
.fcs-deg-prin {
  background-color: $backcolordegrad-fcs-prin;
}
.fchs-deg-prin {
  background-color: $backcolordegrad-fchs-prin;
}
.fcje-deg-prin {
  background-color: $backcolordegrad-fcje-prin;
}
.unknown-deg-prin {
  background-color: $backcolordegrad-unknown-prin;
}

h1 {
  font-size: 1.5em !important;
}
h2 {
  font-size: 1.2em !important;
}
h3 {
  font-size: 1.2em !important;
}

a.actionlink {
  //text-decoration: underline;
  //color: #00a8cf;
}
a:active {
  color: #333;
}
a:visited {
  color: #333;
}

// Un título general
.titulo {
  h1 {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5em !important;
    line-height: 1.5em;
    margin-left: 16px;
    margin-right: 4px;
  }
}

// Subtítulos
.subtitulo {
  background-color: unset;
  color: black;
  text-transform: uppercase;

  padding-left: unset;
  padding-top: 4px;
  padding-bottom: 4px;

  margin-top: 0em;
  margin-bottom: 1.5em;
  line-height: 1.2em;

  h2 {
    font-size: 1.2em !important;
    font-weight: bold;
    padding: 0px;
    margin: 0px;
  }
}

ul.button-group li:first-child {
  margin-left: -1px;
}
.codigo-asignatura {
  //font-family: monospace;
  font-size: 0.9rem !important;
  display: inline;
}

.asignatura {

  background-color: $fgcolor-grey-claro;
  padding: 10px 16px 0px 16px;
  margin-bottom: 10px;

  .detalles {
    padding: 0px;
    border: none;
  }

  p {
    text-transform: uppercase;
    &.titulo {
      font-weight: bold;
    }
  }

  .infoasignatura p {
    display: inline;
  }

  table, thead, tr {
    background: $fgcolor-grey-claro;
    border: none;
    margin-bottom: 5px;
    td {
      padding-right: 0px;
      color: $fgcolor-grey;
      text-align: center;
      padding: 5px 5px 5px 5px;
      border-right: 1px solid $fgcolor-grey;
      &:last-child {
        border-right: none;
      }
    }
    .cantidad {
      font-weight: bold;
      color: $fgcolor-grey !important;
      font-size: 2em !important;
    }
    .leyenda {
      text-align: center !important;
      color: $fgcolor-grey !important;
      text-transform: uppercase;
      font-size: 0.7em !important;
    }
    .sinplazas {
      color: #f07d78;
    }
  }
}

.notas{
  font-style: italic;
  font-size: 0.8rem !important;
  text-align: justify;
  padding: 10px;
}

.asignatura-cabecera, .estudio-cabecera {
  .withacadselector {

    background-color: $fgcolor-grey;

    .curso-fecha {

      select {
        border: none;
        text-transform: uppercase;
        color: white;
        background-color: $fgcolor-grey;
        font-size: 16px;
        height: 31px;
        outline: none;
      }
    }
  }

}

.modal {
  display: none;
  position: fixed;
  z-index: 999999;
  padding-top: 65px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
  margin: auto;
  display: block;
  overflow-y: auto;
  max-width: 80%;
  max-height: 85vh;
}

.subsubtitulo {
  background-color: #bbb;
  color: white;
  text-transform: uppercase;
  padding: 4px 0px 4px 16px;
  font-weight: bold;
}

.show-for-str {
  position: absolute!important;
  width: 1px!important;
  height: 1px!important;
  padding: 0!important;
  overflow: hidden!important;
  clip: rect(0,0,0,0)!important;
  white-space: nowrap!important;
  border: 0!important;
}

.listadoEstudiosExtincionGrado{
  margin-top: 1rem;
}

.listadoEstudiosExtincionMaster{
  margin-top: 1rem;
}
// Start chatbot

.sb-fab-container .sb-cust-fab-buttons {
  padding: 10px;
  filter: drop-shadow(0 1px 1px #333);
  border-radius: 50%;
} //recupera estilos comentados en widget.css

.sb-fab-container .sb-cust-fab-closed:hover {
  border-radius: 50%;
} // mantiene aspecto circular en hover


// End chatbot
