.reconocimientos {
  .estudio {
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 16px;
    margin-bottom: 20px;
    font-size: 1.3rem !important;
    background-color: $fgcolor-grey-subtitulo;
    color: white;
    padding: 0.7rem;
  }
  .reconocimiento {
    padding-left: 16px;
    margin-bottom: 20px;

    .titulo {
      font-weight: bold;
      color: #555;
      text-transform: uppercase;
    }
    .infoasignatura p {
      display: inline;
      text-transform: uppercase;
    }
    .tipo {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 0.8rem !important;
      color: $fgcolor-grey;
    }
    .reconocida {
      padding-left: 20px;
      margin-bottom: 15px;
    }
    .cursada {
      margin-bottom: 15px;
    }
    .apartado p {
      font-size: 1.2em !important;
      font-weight: bold;
      padding: 0px;
      margin-bottom: 20px;
    }
    table {
      width: 100%;
      border: none;
      margin-top: 0.5em;
      padding: 0.5em;
      thead {
        background: none;
      }
      tr {
        background: none;
        border-bottom:1pt solid $fgcolor-grey;
      }
      tr:last-child
      {
        border-bottom: none;
      }
      th {
        font-size: 1.2em !important;
        font-weight: bold;
        background: none;
        padding: 0px;
      }
      td {
        font-size: 1.2em !important;
        min-width: 6em;
        padding: 5px 0px 0px 0px;
        margin-bottom: 10px;
        vertical-align:middle;
      }
      tr td:last-child {
        padding-left: 5px;
      }
    }
  }
  .contempla{
    display: inline;
  }
  a{
    font-weight: bold;
    &:link {
      text-decoration: underline;
    }
  }


}

