/**
 * Estilos comunes aplicados a las opciones que tenemos disponibles cuando visitamos una asignatura en concreto.
 *
 * La estructura de la página es:
 *
 *    div.pagina-asignatura-cabecera
 *        div.titulo
 *        div.info
 *
 *            .asignaturaenlaces
 *            .asignaturasubenlaces
 *            .asignaturacreditos
 *
 *    div.pagina-asignatura-seccion
 *
 */

.pagina-asignatura-cabecera {

  margin-bottom: 1em;

  /** información de la asignatura y opciones **/

  .info {

    background-color: $fgcolor-grey-claro;
    padding: 16px 16px 16px 16px;

    &.requisito {
      padding: 0px;
    }

    .enlaces {
      text-transform: uppercase;
      p {
        font-weight: bold;
      }
    }

    .subenlaces {
      p {
        text-transform: none;
      }
    }

    table.creditos {
      float: right;
      background-color: $fgcolor-grey-claro;
      border: none;
      margin: 0;
      td {
        background-color: $fgcolor-grey-claro;
        width: 2em;
        border-left: 1px solid $fgcolor-grey;
      }
      td:first-child {
        border-left: none;
      }
      .cantidad {
        td {
          font-weight: bold;
          color: $fgcolor-grey !important;
          font-size: 3em !important;
          text-align: center !important;
          padding-bottom: 0px !important;
        }
      }

      .leyenda {
        td {
          text-align: center !important;
          color: $fgcolor-grey !important;
          font-size: 1em !important;
          padding-bottom: 0px !important;
        }
      }

    }
  }
}

.pagina-asignatura-seccion {

  .info {
    margin-bottom: 2em;
    text-align: justify;
    margin-left: 16px;
  }
  .reqasignaturas {
    margin-bottom: 2em;
  }
}


.temario {
  .titulo {
    padding-bottom: 0.5em;
    font-size: 1.5em !important;
  }
  .contenido {
    padding-bottom: 0.5em;
  }
}


.uppercase {
  text-transform: uppercase !important;
}


.competencias {
  .codigo-asignatura {
    font-size: 1.2rem !important;
  }
}

p.descripcion {
  margin-bottom: 1.5em;
}


