@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import 'config';

.lleu {

  .loading {
    z-index: 99999;
    display: block;
    opacity: 0.8;
  }
  .printeronly {
    display: none;
  }

  // estilos de la página principal
  @import 'main';

  // "componentes" reutilizables
  @import 'componentes/loadingindicator';
  @import 'componentes/horario';
  @import 'componentes/breadcrumb';
  @import 'componentes/calendario';
  @import 'componentes/cajaasignatura';
  @import 'componentes/filtro';
  @import 'componentes/cajaexamen';
  @import 'componentes/cajainfo';
  @import 'componentes/leyenda-horario';
  @import 'componentes/datepicker';
  @import 'componentes/alertbox';
  @import 'componentes/estilo-horario';
  @import 'componentes/badge';

  // algunos ajustes para páginass
  @import 'paginas/page-asignaturas';
  @import 'paginas/page-horariosestudio';
  @import 'paginas/page-circuitos';
  @import 'paginas/page-requisitosmatricula';
  @import 'paginas/page-requisitosmatriculaasig';
  @import 'paginas/page-estilo';
  @import 'paginas/page-resumencreditos';
  @import 'paginas/page-principal';
  @import 'paginas/page-examenes';
  @import 'paginas/page-asignaturaprincipal';
  @import 'paginas/page-profesores';
  @import 'paginas/page-presentacion';
  @import 'paginas/page-profesores-estudio';
  @import 'paginas/page-especialidades';
  @import 'paginas/page-generarhorarios';
  @import 'paginas/page-reconocimientos';
  @import 'paginas/page-horariosmaster';
  @import 'paginas/page-asigmasterprincipal';
  @import 'paginas/page-examenesmaster';

  // estilos generales
  @import 'seccionasignatura';
  @import 'evaluacion';
  @import 'reconocimientos';
  @import 'itinerarios';

  @import 'informacion';
  @import 'eep';

  //Estilos de nueva cabecera
  @import "header";
  @import "footer";

}
