/**
 * CSS para la página de resumen de créditos
 */

&.page-resumen-creditos {

  table.resumencreditos {

    margin-left: auto;
    margin-right: auto;
    border: none;

    thead {
      border: none;
      background-color: white;
      text-transform: uppercase;
      th {
        font-size: 1.3em !important;
        font-weight: bold;
        color: $fgcolor-grey !important;
      }
    }
    tbody {
      td {
        font-size: 2em !important;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        color: $fgcolor-grey !important;
      }
    }
  }
}
