/**
 * La página principal con el tab de estudios
 */

// El tab de los estudios
.estudios {

  p {
    font-style: italic;
    margin-bottom:1em;
  }

  // el dropdown de selección cambia de tamaño incorrectamente
  form.custom div.custom.dropdown {
    width: auto !important;
  }

  .tabs {
    margin-bottom: 1.5em;
    dd, li {
      background-color: $backcolor-tipo-not-active;
    }
    dd a,  li a {
      color: $fgcolor-tipo-not-active !important;
      font-weight: bold;
      border-right: unset;
    }
    dd a:hover, li a:hover {
      text-decoration: none;
    }
    dd.active a,  li.active a {
      color: $fgcolor-tipo-active !important;
      background-color: $backcolor-tipo-active;
    }
    dd.active,  li.active {
      border-top: none;
      margin-top: 0px;
    }
    dd.estudios-menu {
      display: none;
      color: black;
      background-color: transparent;
      font-size: 1.8em !important;
      padding-left: 0.5em;
      width: 2em;
      cursor: pointer;
    }
  }

  .tipoestudios {
    text-transform: uppercase;
  }

  // Centros y titulaciones
  .centro {
    font-weight:bold;
    text-transform: uppercase;
    color: white;
    padding: 0.5em 0em 0.5em 1em;
    margin: 1em 0 1em 0;

    &:first-child {
      margin-top: 0px;
    }
  }
  .estudio {
    padding-left: 1em;
  }

  summary {
    list-style: none;
    cursor: pointer;
    color: #333333;
    font-size: 14.08px !important;
  }

  summary::after {
    content: '\25BA';
    right: 0;
    transition: transform 0.3s ease;
    margin-left: 5px;
  }

  details[open] summary::after {
    content: '\25BC';
  }

  details {
    font-size: 14.08px !important;
  }

  .subtitulo {
    background-color: unset;
    color: black;
    text-transform: uppercase;

    padding-left: unset;
    padding-top: 4px;
    padding-bottom: 4px;

    margin-top: 1.5em;
    margin-bottom: 0;
    line-height: 1.2em;

    h2 {
      font-size: 1.2em !important;
      font-weight: bold;
      padding: 0px;
      margin: 0px;
    }
  }

  /**
   * En una pantalla pequeña, el formato de los tabs cambia
   *
  @media screen and (max-width: $small-screen-width) {
    .tabs {
      dd {
        display: none;

        &.active {
          display: block;
          width: 90%;
        }
        &.estudios-menu {
          display: block;
        }
      }
    }
  }
  */
}
