&.page-profesores {

  .grupo {
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 1em;
    margin-top: 0.5em;
    font-size: 1.3rem !important;
    background-color: $fgcolor-grey-subtitulo;
    color: white;
    padding: 0.7rem;
  }
  .subgrupo {
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 1em;
    font-size: 1.3rem !important;
    margin-top: 1em;
    background-color: $fgcolor-grey-subtitulo-deg;
    color: white;
  }
  .profesores {
    margin-bottom: 1.1em;
  }
  .profesor {
    padding: 0.6em 0.6em 0px 0.6em;
    .caja {
      padding: 0.5em 0.5em 0 0.5em;
      .titulo {
        text-transform: uppercase;
        font-weight: bold;
      }
      .foto {
        width: 5em !important;
      }
      p.nombre {
        text-transform: none;
      }
      p::first-letter {
        text-transform: capitalize
      }

    }
    a{
      text-decoration: underline;
    }
    .sub {
      font-size: 0.9rem !important;
      text-transform:capitalize !important;
    }
    .email {
      font-size: 0.9rem !important;
    }
  }

  .contenido {
    margin-bottom: 2em;
  }
  .tutorias {
    .nombre {
      font-weight: bold;
      color: black;
      font-size: 1.2em !important;
    }
    .virtuales {
      font-size: 0.9rem !important;
    }
    .link {
      margin-bottom: 1em;
    }
    .tutorias-table {
      margin-bottom: 1em;

      .titulo {
        text-transform: uppercase;
      }

      table {
        width: 100%;
        border: none;
        margin-top: 0.5em;
        padding: 0.5em;
        font-size: 1.5em !important;

        thead {
          background: none;
          tr {
            border-bottom: 1px solid $fgcolor-grey;

            th {
              padding: 0 0 0.5em 0;
              text-align: center;
              font-weight: bold;
            }
          }
        }
        tbody {
          td {
            font-size: 0.8em !important;
            min-width: 6em;
            padding: 0.3em 0px 0px 0px;
            margin-bottom: 0.5em;
            vertical-align: middle;
            text-align: center;
          }
        }
      }

    }
  }
}