/**
 * CSS para la página de Profesores de master */

&.page-profesores-estudio {

  .departamento {
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 16px;
    margin-top: 10px;
    font-size: 1.3rem !important;
    background-color: $fgcolor-grey-subtitulo;
    color: white;
  }
  .last{
    margin-bottom: 2em;
  }
  .profesor {
    padding: 10px 10px 0px 10px;
    accordion li {
      background-color: #777777;
    }

    .accordion {
      margin: 0px;
      border-bottom: none;
      background-color: white;

      .title {
        padding: 3px 0px 3px 10px;
        border: none;
        margin-bottom: 1px;
        color: #666;
        background-color: white;
        width: 12em;
        text-decoration: underline;

        &:after{
          top: 5px;
          border-color: #666 transparent transparent transparent;
        }
      }

      ul{
        margin: 0px 20px;
      }

      li.active .title:after {
        top: 0px;
        border-color: transparent transparent black transparent !important;

      }

      .content {
        padding: 0px;
        border-top: 1px solid #fff;
        border-bottom: none;
        border-left: none;
        border-right: none;

        .secciones {
          display: table-cell;
          width: 35%;
          padding: 0px 0 10px 0;
          li{
            background-color: #efefef;
            padding: 10px;
          }

        }
      }
      li {
        border: none;
        &.active {
          border-top: none;
        }
      }

    }


    .caja {
      padding: 0.5em 0.5em 0 0.5em;
      .titulo {
        text-transform: uppercase;
        font-weight: bold;
      }
      .foto {
        width: 5em !important;
      }

    }
    .detalles {
      border: none;
    }
  }

}
