/**
 * Estilos para la página de información de estilo
 */

&.page-informacion-estilo {

  .ambito {
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 3em;

    h2 {
      font-weight: bold;
      margin-bottom: 1em;
    }

    .asignatura {
      padding-bottom: 0.5em;
    }
  }
}