&.page-generar-horarios {

  .leyenda-horario {
    margin-left: auto;
    margin-right: auto;
  }

  input[type=button].generar {
    width: 100%;
  }

  div.filtro {
    .selecciona-cursos {
      input[type=button], .button {
        font-size: 0.8em;
        background-color: $backcolor-btn-filtro;
        border: 1px solid #cecece;
        color: #4d4d4d;
        text-transform: uppercase;
        outline: none;
        white-space: normal;
        font-weight: normal;

        &:hover {
          background-color: $backcolor-btn-filtro-seleccionado;
        }
        &.active {
          outline: none;
          background-color: $backcolor-btn-filtro-seleccionado;
        }
      }
    }
    .selector-asignaturas {
      .content {
        padding: 0px;
        .selector-asignatura {
          padding: 0px 15px 10px 15px;
          font-size: 0.9em !important;

          .seleccion_grupos {
            display: none;
          }
          &.selected {
            background-color: lightyellow;
            .seleccion_grupos {
              display: block;
            }
          }

        }
      }
      li.accordion-navigation.active {
        border-top: none !important;

        .title:after {
          top: 15px;
          border-color: transparent transparent #666 transparent !important;
        }
      }

      .title:after{
        border-color: #666 transparent transparent transparent;
      }

    }
    .filtro-curso {
      .input[type=button], .button {
        padding: 10px 5px 10px 5px;
      }
      li {
        position: relative;
        margin-left: 0px !important;
      }
    }
  }
  .selecciona-cursos {
    font-weight: bold;
    margin-top: 1em;
    span{
      font-size: 1rem !important;
    }
  }
  @media print {
     .noprinter{
       display: none;
     }
    .printeronly {
      display: block;
    }

  }



}