&.page-examenesmaster {

  p.descripcion {
    margin: 0px 16px 1em 16px;
    text-align: justify;
  }

  #filtro-epoca-examenes {
    float: right;
  }

  #contenerlistaexamenes {
    display: none;
  }
  @media print {
    #contenerlistaexamenes {
      display: block;
    }

  }
  .itemListaExamen {
    .diaExamen {
      border-bottom: 1px solid black;
      font-weight: bold;
    }

    margin-bottom: 1em;
  }

}