&.page-reconocimientos {

    .desc {
        p {
          text-align: justify;
          margin-bottom: 0.5em;
        }
      a{
        font-weight: bold;
        &:link {
          text-decoration: underline;
        }
      }
    }

    h3 {
      margin-top: 1em;
      margin-bottom: 0.5em;
    }

  .caja-asignatura, .caja-info {
    background-color: white;
    padding-left: 16px;
    .caja-asignatura-info {
      display: none;
    }
  }

}