/**
 * Página principal de una asignatura de master
 */

&.page-asigmasterprincipal {

  #filtro-horario {

    ul.button-group li:first-child {
      margin-left: 0px;
    }

    .filtro-semestre {
      margin-left: 1em;
    }
  }

  #leyenda-subgrupos p.item {
    text-transform: capitalize;
    font-weight: normal;
  }

  @media (min-width: 768px) {
    .weeknav {
      float: right;
    }
  }
  @media (max-width: 767px) {
    .weeknav {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .comentarios{
    li{
      list-style: disc;
      margin-left: 2.5rem;
    }
  }
  .lleualertbox {
    position: absolute;
    top: 2em;
    right: 10em;

    padding: 1em;
  }

  .sineventos{
    padding-left: 1em;
  }
  .oculto {
    visibility: hidden;
  }

}
