/**
 * Estilos para la página de requisitos de estudio
 */

&.page-requisitos-matricula {

  p.descripcion {
    margin-bottom: 1.5em;
  }
  form.custom {
    margin-bottom: 2em;
    margin-left: 16px;
    margin-right: 16px;

    label {
      font-weight: normal;
      line-height: 2em;
    }
  }

  .reconocimiento {
    margin-left: 16px;
    margin-right: 16px;

    h2 {
      font-weight: bold;
      margin-bottom: 1em;
    }
    .asignatura {
      background-color: white;
      padding-left: 0px;
      padding-right: 0px;

      .caja-asignatura {
        background-color: white;
        padding-left: 0px;
      }
    }

  }

  .caja-info {
    margin-left: 16px;
    padding-bottom: 0;
    margin-bottom: 16px;
    .sub {
      text-transform: none;
    }
    .leyenda {
      text-transform: uppercase;
    }
  }

}