/**
 * Estilos para la página de requisitos de estudio
 */

&.page-requisitosmatriculaasig {
  .caja-info, .caja-asignatura {
    margin-left: 16px;
    padding-bottom: 0;

    .sub {
      text-transform: none;
    }
    .leyenda {
      text-transform: uppercase;
    }
  }
  .comentarios{
    margin-left: 16px;

    li{
      list-style: disc;
    }
  }
}