div.estudio-cabecera {
  .titulo {
    color: white;
    text-transform: uppercase;
    .grado {
      padding-right: 0px;
      h1 {
        padding-left: 10px;
        font-size: 1.5em !important;
        line-height: 1.5em;
        margin-left: 4px;
      }
    }
    .curso-fecha {
      select {
        border: none;
        text-transform: uppercase;
        color: white;
        background-color: $fgcolor-grey;
        font-size: 16px;
        height: 31px;
        outline: none;
      }
    }
  }
  .creditos {
    padding: 20px 10px 10px;
    text-transform: uppercase;
    table {
      border: 0px;
      tbody tr td {
        text-align: center;
      }
    }
    .cantidad {
      font-weight: bold;
      font-size: 3em !important;
    }
    .leyenda {
      background-color: white;
      font-size: 1em !important;
    }
  }
  .secciones {
    border: none;
    font-size: 1.1em !important;


    li {
      margin-bottom: 0.3em;
    }


    .principal {
      text-transform: uppercase;
      font-weight: bold;
    }

  }
}

div.asignatura-cabecera {

  .titulo {
    color: white;
    text-transform: uppercase;
    .grado {
      padding-right: 0px;
      h1 {
        padding-left: 10px;
        font-size: 1.5em !important;
        line-height: 1.5em;
        margin-right: 4px;
        margin-left: 4px;
      }
    }
    .infocabecera{
      padding-left: 15px;
      font-size: 0.8rem !important;
    }
  }
  .creditos {
    padding: 20px 5px 5px 0px;
    text-transform: uppercase;
    table {
      border: 0px;
      tbody tr td {
        text-align: center;
      }
    }
    .cantidad {
      font-weight: bold;
      font-size: 2em !important;
    }
    .leyenda {
      background-color: white;
      font-size: 1em !important;
    }
  }
  &.master .creditos .cantidad {
    font-size: 3em !important;
  }

  .secciones {
    border: none;
    min-height: 100px;
    font-size: 1.1em !important;

    li {
      margin-bottom: 0.3em;
    }

    .principal {
      text-transform: uppercase;
      font-weight: bold;
    }

    td{
      padding-top: 20px;
    }
  }
}
div.estudio-info {
    .cabecera.titulo {
      background-color: $backcolor-titulo-contenido;
      margin-bottom: 10px;
      color: white;
      text-transform: uppercase;
      h1 {
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1.5em;
        font-size: 1.5em !important;
      }
      .curso-select {

        form {

          line-height: 1.1em;
          font-size: 1.1em !important;

          select {
            outline: none;
            text-transform: uppercase;
            padding-left: 4px;
            padding-right: 4px;
            border: none;
            color: white;
            background-color: $fgcolor-grey;
            height: 31px;
          }
          label {
            text-transform: uppercase;
            background-color: $backcolor-titulo-contenido;
            height: 31px;
            color: white;
            margin-bottom: 0px;
            padding-left: 4px;
          }
        }
      }
    }



  .asignatura {

    background-color: $fgcolor-grey-claro;
    padding: 10px 8px 0px 8px;
    margin-bottom: 10px;

    .detalles {
      padding: 0px;
      border: none;

      div.h6 {
        font-weight: bold;
        line-height: 1rem;
      }
    }

    p {
      text-transform: uppercase;
      &.titulo {
        font-weight: bold;
      }

    }
    .infoasignatura{
      p {
        text-transform: capitalize;
      }
    }

    .accordion {
      margin: 0px;
      color: white;
      border-bottom: none;

      .title {
        padding: 3px 0px 3px 10px;
        border: none;
        margin-bottom: 1px;
        color: #666;
        background-color: $fgcolor-grey-medio;
        width: 11em;

        &:after{
          top: 5px;
          border-color: #666 transparent transparent transparent;
        }
      }

      ul{
        margin: 0px 20px;
      }

      li {
        background-color: $fgcolor-grey-medio;
      }

      li.active .title:after {
        top: 0px;
        border-color: transparent transparent #666 transparent !important;
      }

      .content {
        background-color: $fgcolor-grey-medio;
        padding: 0px;

        border-top: 1px solid #fff;
        border-bottom: none;
        border-left: none;
        border-right: none;

        .secciones {
          display: table-cell;
          width: 35%;

          padding: 20px 0 10px 0;
          font-weight: bold;

          a {
            color: #666;
          }
        }

        .info{
          border-left: solid 1px;
          display: table-cell;

          table {
            margin-right: 20px;
          }
          table, thead, tr{
            background: $fgcolor-grey-medio;
            border: none;
          }

          td {
            color: #666;
            text-align: center;
            white-space: nowrap;
            padding-right: 0px;
          }
          th {
            color: #666;
            text-align: center;
            padding-right: 0px;
          }
          td:first-child {
            text-align: right;
          }
        }
      }
      li {
        border: none;
        &.active {
          border-top: none;
        }
      }

    }
  }
  .filtro-semestre{
    li:nth-child(3){
      width: 100% !important;
    }
  }
}


div.mis-horarios {

  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid $fgcolor-bold;
  text-align: center;

  p {
    color: $fgcolor-bold;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.estudio-extincion {
  td:nth-child(2){
    display: none;
  }
  td:nth-child(3){
    width: 50%;
  }
}

.estudio-sub-extincion{

  table.vacantesGrupos{
    th:nth-child(3){
      //display: none;
      visibility: hidden;
    }
    td:nth-child(3){
      //display: none;
      visibility: hidden;
    }
  }
}


table.vacantesGrupos {

   width: 75%;

   thead {
     th {
       width: 12em;
     }
   }

   .expand {
     width: 2em;
     cursor: pointer;
   }

   thead, tr {
     background: $fgcolor-grey-claro;
     border: none;
     td {
       padding-right: 0px;
       color: $fgcolor-grey;
       text-align: center;
       padding: 5px 5px 5px 5px;
       text-transform: uppercase;
       &:last-child {
         border-right: none;
       }
     }
     .cantidad {
       font-weight: bold;
       color: $fgcolor-grey !important;
       font-size: 3em !important;
     }
     .leyenda {
       text-align: center !important;
       color: $fgcolor-grey !important;
       font-size: 1em !important;
     }
     .sinplazas {
       color: #f07d78 !important;
     }
   }

   tbody {
    td {
      border: none;
    }
    tr {
      &.vacantesGrupo {
        td:first-child {
          font-weight: bold;
          text-align: right;
          width: 4em;
        }
      }
      &.vacantesSubgrupo {
        &:first-child {
          text-align: right;
          width: 4em;
        }
      }
    }
  }
}

.desplegable {
  background-color: $backcolor-btn-desplegable;
}

