/**
 * Estilos correspondientes a la página de circuitos
 */


&.page-circuitos {
  p.descripcion {
    margin: 0px 16px 1em 16px;
    text-align: justify;
  }

  label {
    margin-bottom: 1em;
  }

  .filtro-circuito {
    .circuito-cerrado {
      color: red;
    }
  }
  #circuito-cerrado{
    color: red;
  }

  #leyenda-horario {
    margin-top: 2em;
  }

  h3 {
    margin-bottom: 1em;
  }

  .weeknav {
    float: right;
  }

  table.caja-asignatura-info {
    float: right;

    tr.cantidad {
      td {
        font-size: 0.8em !important;
      }
    }

    tr.leyenda {
      td {
        text-transform: uppercase;
      }
    }
  }
  div.mis-horarios {
    p{
      display: flex;
      background-color: orange;
      color: white;
      border-radius: 2px;
      align-items: center;
      padding: 0.7rem;
    }
    .icon-calendar:before{
      content: url("/sia/pix/google-calendar.svg");
      font-size: 2.2em;
    }
  }
}