/**
 * Estilos para la página de horarios de estudio
 */

&.page-horariosestudio {
  ul.leyenda-horario {
    margin-top: 1em;
  }
  .filtro-semestre {
    li:nth-child(3) {
      width: 100% !important;
    }
  }

  @media (min-width: 768px) {
    .weeknav {
      float: right;
    }
  }
  @media (max-width: 767px) {
    .weeknav {
      margin-right: auto;
      margin-left: auto;
    }
  }

  .lleualertbox {
    position: absolute;
    top: 2em;
    right: 10em;

    padding: 1em;
  }
  .sineventos{
    padding-left: 1em;
  }
  .oculto {
    visibility: hidden;
  }
  div.mis-horarios {
    p{
      display: flex;
      background-color: orange;
      color: white;
      border-radius: 2px;
      align-items: center;
      padding: 0.7rem;
    }
    .icon-calendar:before{
      content: url("/sia/pix/google-calendar.svg");
      font-size: 2.2em;
    }
  }

}
