.alert-box.lleualertbox {
  z-index: 30000;
  max-width: 18em;
  width: 18em;
  background-color: lightyellow;
  color: black;
  text-decoration: none;
  padding: 1em;
  text-shadow: none;
  white-space: normal;
  border: 1px solid black;

  display: none;

  position: absolute;
  top: 25px;
  left: 0px;
}