.sia_badge {
  position: absolute;
  top: -1em;
  right: 0em;

  width: 2em;
  height: 2em;
  padding: 0.25em;

  z-index: 200000;
  background-color: red;
  color: white;
  font-weight: bold;

  border-radius: 1em;
  font-size: 0.8em !important;
  opacity: 0.8;

  text-align: center;
}
