.breadcrumb {

  list-style: none;
  overflow: hidden;

  li {
    float: left;
    a:hover {
      text-decoration: none;
    }
    p {
      display: inline-block;
    }
    .icon-right-dir:before {
      margin-right: 0px;
    }
    &:first-child{
      font-weight: bold;
    }
  }
}