/**
 * Estilo para el fragmento caja-asignatura
 */

.caja-asignatura {

  background-color: $fgcolor-grey-claro;
  padding: 0.5em;
  margin-bottom: 10px;

  p {
    text-transform: uppercase;
    &.titulo {
      font-weight: bold;
    }
  }

  .infoasignatura{
    p {
      text-transform: capitalize;
      display: inline;
    }
  }

  table {
    background: $fgcolor-grey-claro;
    border: none;
    margin-bottom: 0px;
    td {
      padding-right: 0px;
      color: $fgcolor-grey;
      text-align: center;
      padding: 5px 5px 5px 5px;
      border-right: 1px solid $fgcolor-grey;
      &:last-child {
        border-right: none;
      }
    }
    .cantidad {
      font-weight: bold;
      color: $fgcolor-grey !important;
      font-size: 2em !important;
    }
    .leyenda {
      text-align: center !important;
      color: $fgcolor-grey !important;
      font-size: 1em !important;
      background-color: $fgcolor-grey-claro
    }
  }


  .caja-asignatura-info {
    float: right;
  }
}