/*
       -------------------------------------------------------------------------- ... --
       | Título                                             dato1   |  dato2   | (...) |
       | SUBTÍTULO                                         leyenda1 | leyenda2 | (...) |
       ---------------------------------------------------------------------------------
       < -------------------------- info -----------> <---------------- datos --------->
*/

.caja-info {

  background-color: $fgcolor-grey-claro;
  margin-bottom: 10px;
  padding: 0.5em;

  .titulo {
    text-transform: uppercase;
    font-weight: bold;
  }
  .sub {
    text-transform: uppercase;
    display: inline;
    margin: 0px;
    padding: 0px;
  }
  table.caja-info-datos {
    margin: 0;
    float: right;
    border: none;
    background-color: $fgcolor-grey-claro;

    td {
      color: $fgcolor-grey;
      text-align: center;
      padding: 5px 5px 5px 5px;
      border-right: 1px solid $fgcolor-grey;
      &:last-child {
        border-right: none;
      }
    }
    .cantidad {
      font-weight: bold;
      color: $fgcolor-grey !important;
      font-size: 3em !important;
    }

    .leyenda {
      text-align: center !important;
      color: $fgcolor-grey !important;
      font-size: 1em !important;
      background-color: $fgcolor-grey-claro
    }
  }
}
