.caja-examen {

  background-color: $fgcolor-grey-claro;
  display: table;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;

  .fecha-examen {
    display: table-cell;
    width: 6em;
    vertical-align: middle;
    background-color: $fgcolor-bold;
    color: white;
    text-align: center;
    text-transform: capitalize;
    .dia-examen {
      font-weight: bold;
      font-size: 2em !important;
      line-height: 1em;
      padding-top: 5px;
    }
  }
  .info-examen {
    display: table-cell;
    vertical-align: top;
    padding: 5px 5px 5px 5px;

    text-transform: uppercase;

    table {
      width: 100%;
      text-align: center;
      border: none;
      margin-top: 0.5em;
      padding: 0.5em;
      th {
        font-size: 1.2em !important;
        text-align: center;
        font-weight: bold;
        background-color: $fgcolor-grey-claro;
        padding: 0px;
      }
      td {
        font-size: 1.2em !important;
        text-align: center;
        background-color: $fgcolor-grey-claro;
        padding: 0px;
        min-width: 6em;
      }
    }
    .observacion{
      padding-top: 5px;
      text-transform: none;
      font-weight: bold;
      border-top: 1px solid $fgcolor-bold;
      p{
        font-weight: normal;
        padding-left: 10px
      }
    }
    .provisional{
      text-align: center;
      font-size: 0.7em !important;
      border: none;
      margin-right: 10px;
    }
  }
  .localiza-examen {
    border-top: 1px solid $fgcolor-bold;

  }
}
