/*
 * El calendario es una tabla con la siguiente estructura de clases:
 *
 * table.cal
 *    thead
 *       tr
 *          th
 *    tbody
 *       tr
 *          td
 *              div.cal-monthday(.cal-othermonthday)
 *              div.cal-content
 *                  div.cal-event
 *                      div.cal-event-asignatura
 *                      div.cal-event-codigoasignatura
 *                      div.cal-event-inifin
 *                      div.cal-event-aula
 *
 * Para ver un ejemplo de calendario ver la opción "Exámenes" de los estudios.
 */

$color-calendario-day: #cecece;
$color-calendario-day-disabled: #eee;

table.cal {

  width: 100%;
  border: 1px solid #888;

  caption {
    font-weight: bold;
    font-size: 1.5em !important;
    margin-bottom: 1em;
  }

  thead {
    tr {
      background-color: #9793A2;

      th {
        border-right: 1px solid #b0abba;
        font-weight: bold;
        color: white;
        text-transform: uppercase;
        text-align: center;

        width: (100% / 6);
        max-width: (100% / 6);
      }
      th:last-child {
        border-right: none;
      }
    }
  }

  tbody {

    tr {
      background-color: white !important;

      td {
        border: 1px solid #888;
        overflow-y: hidden;
        width: (100% / 6);
        max-width: (100% / 6);


        div {
          &.cal-monthday {
            color: #888;
          }
          &.cal-othermonthday {
            color: #d4d4d4;
          }
          &.cal-content {
            min-height: 10em;
            .cal-event {

              padding-bottom: 1em;

              .cal-event-asignatura {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 1.2em !important;
              }
              .cal-event-codigoasignatura {
                @extend .codigo-asignatura;
                display: block;
              }
              .cal-event-tipo {
                text-transform: uppercase;
                display: block;
              }
              .cal-event-provisional {
                padding: 5px;
                display: inline-block;
                line-height: 0.75em;
              }
            }
          }
        }

      }
    } // tr
  } // tbody

}