/**
 * Contiene los estilos para un filtro con botones. También gestionamos algún caso particular
 */

div.filtro {

  input[type=button], .button {
    font-size: 0.8em;
    background-color: $backcolor-btn-filtro;
    border: 1px solid #cecece;
    color: #4d4d4d;
    text-transform: uppercase;
    outline: none;
    white-space: normal;
    font-weight: normal;

    &:hover {
      background-color: $backcolor-btn-filtro-seleccionado;
    }
    &.active {
      outline: none;
      background-color: $backcolor-btn-filtro-seleccionado;
    }
  }

  .filtro-grupo {
    margin-bottom: 1em;
    input {
      white-space: nowrap;
      width: 100%;
    }
    li {
      padding-bottom: 0px;
      margin-left: 0px !important;
    }
    li:nth-child(even) {
      padding-left: 0px;
    }
    li:nth-child(odd) {
      padding-right: 0px;
    }
  }

  .filtro-buscar {
    input[type=button] {
      background-color: $backcolor-btn-filtro-buscar;
      color: $fgcolor-btn-filtro-buscar;
    }
    img.clear-img {
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 9px;
      width: 10px;
      height: 10px;
      border: 0px;
    }
    input[type=text] {
      padding-right: 22px;
    }
  }
  .filtro-caracter {
    li {
      padding-bottom: 0px;
      margin-left: 0px !important;
    }
    .input[type=button], .button {
      width: 100%;
    }
  }
  .filtro-curso{
    .input[type=button], .button {
      padding: 10px 5px 10px 5px;
    }
   li{
      margin-left: 0px !important;
    }
  }
  .filtro-semestre{
    li{
      margin-left: 0px !important;
    }
  }
}