$horario-border-color-bold: #d2d2d2;
$horario-border-color: #F3F3F3;

table.horario {
  width: 100%;
  border: 0px;
  // el border-collapse: collapse hace que en firefox no aparezcan los bordes :-( lo dejamos a separate y
  // border-spacing a 0
  border-collapse: separate;
  border-spacing: 0px;

  .thead {

    background-color: #9793A2;
    color: white;
    font-weight: bold;
    border-right: 2px solid #9793a2;

    td:first-child {
      background-color: white;
      border: 0px;
      width: 10%;
    }

    td {
      position: relative;
      width: 90% * 0.2;
      font-size: 1em !important;
      text-align: center;
      color: white;
      border: 0px;
      vertical-align: middle;
      height: 3em;
      text-transform: uppercase;
    }

  }

    tr:nth-child(2n) {
      background-color: transparent !important;
    }
    td:first-child {
      color: white;
      background-color: #C4C4C4;
      border-left: 0px;
      border-top: 0px;
      border-right: 0px;
      border-bottom: 1px solid $horario-border-color;
      width: 10%;
    }
    td {
      padding: 0px;
      margin: 0px;
      position: relative;
      width: 90% * 0.2;
      font-weight: bold;
      text-align: center;
      vertical-align: middle;
      //background-color: white;
      border: 1px solid $horario-border-color;
      border-right: 1px solid $horario-border-color-bold;
    }
    tr {
      height: 3em;
      &.bold {
        td {
          border-bottom: 1px solid $horario-border-color-bold;
        }
        td:first-child {
          border-bottom: 1px solid white;
        }
      }
      &.last {
        td:first-child {
          border-bottom: 1px solid $horario-border-color-bold;
        }
      }
  }

  &.calendario {
    .weekday {
      .dayname, .month {
        text-transform: capitalize;
      }
      .month {
        font-weight: normal;
      }
    }
  }


}

.evento {
  width: 100%;
  z-index: 9999;
  background-color: indianred;
  text-align: left;
  padding: 0.3em 0.8em;
  overflow: hidden;

  &.overflowed {
    z-index: 9999;

  }

  &.expanded {
    z-index: 10000;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  }

  .expand {
    position: absolute;
    bottom: 0px;
    right: 5px;
    cursor: pointer;
  }

  &.teoria {
    background-color: #FFAEB7;
  }

  &.laboratorio {
    background-color: #F8E48D;
  }

  &.problemas {
    background-color: #8EE8B2;
  }

  &.tutoria {
    background-color: #AAC9F8;
  }

  &.era {
    background-color: #f8b494;
  }

  .evtitulo {
    display: table-row;
    text-transform: uppercase;
    font-size: 0.8em !important;
    font-weight: normal;

    p {
      display: table-cell;
    }
  }

  .evasignatura {
    @extend .codigo-asignatura;
    text-transform: uppercase;
    cursor: pointer;
  }

  .evlocaliza {
    cursor: pointer;
  }

  .evsemestre {
    text-transform: uppercase;
    font-size: 0.8em !important;
  }

  &.disabled {
    display: none;
  }
}

.coleccioneventos {
  @extend .evento;
  background-color: #EFEFEF;
  z-index: 9999;

  border: 0.5px solid #ddd;

  .colevento {
    margin-bottom: 1em;
    display: table-row;

    &.disabled {
      display: none !important;
    }

    &.teoria .coleventotipo {
      background-color: #FFAEB7;
    }

    &.laboratorio .coleventotipo {
      background-color: #F8E48D;
    }

    &.problemas .coleventotipo {
      background-color: #8EE8B2;
    }

    &.tutoria .coleventotipo {
      background-color: #AAC9F8;
    }

    &.era .coleventotipo {
      background-color: #f8b494;
    }

    &.disabled .coleventotipo {
      background-color: $color-event-disabled !important;
    }

    .coleventotipo {
      display: table-cell;
      vertical-align: top;
      float: left;
      width: 0.8em;
      height: 2.3em;
      background-color: red;
      margin-right: 1em;
    }
  }

  .coleventoinfo {
    display: table-cell;
    vertical-align: top;
    margin-bottom: 1em;
  }
}

span.tip {
  position: relative;
}

.icon-info {
  &.icon-info-circled:before {
    font-size: 1.5em;
    color: #545454;
  }

  cursor: pointer;
}

span.observaciones {
  display: none;
  z-index: 99999;
  position: absolute;
  top: 1.5em;
  left: 0em;
  width: 15em;
  background-color: #545454;
  border-radius: 0.25em;
  color: white;
  text-align: center;
  font-size: 1.5em !important;
  padding: 1em;
}

.weeknav {
  position: relative;
  white-space: nowrap;
  display: table;
  padding-bottom: 0.5em;

  .weekstr {
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0em;
    vertical-align: middle;
    text-align: center;
    font-size: 0.9em !important;
  }

  .nextweek {
    cursor: pointer;
  }

  .prevweek {
    cursor: pointer;
  }

  .btn_ira {
    position: relative;
    top: -1px;
    height: 22px !important;
    z-index: 30000;

    a {
      font-size: 0.71rem !important;
    }

    div {
      font-size: 0.71rem !important;
      margin-top: 5px;
      font-weight: normal !important;

      &:hover {
        cursor: pointer;
        text-decoration: underline !important;
      }
    }

  }

  .button.dropdown.tiny:after {
    border-color: #1d1d1d transparent transparent transparent;
  }
}

.disabled-event {
  background-color: $color-event-disabled !important;
}

.eventos-dia{
  h3{
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .elemento-asignatura{
      background-color: $fgcolor-grey-claro;
      margin: 5px 0px;
    padding: 10px;
  }
  .titulo{
    font-weight: bold;
  }
  .label-tipo-grupo{
     font-size: 1em !important;
  }


}