/**
 * Definimos dos clases para el contenedor de la leyenda:
 *
 *     .leyenda-horario          --> para leyendas en horizontal
 *       y
 *     .leyenda-horario-lateral  --> para leyendas en vertical
 */

.leyenda-horario {

  margin-bottom: 1em;

  li {
    p {
      display: inline-block;
      margin-right: 1em;
    }
  }

  .item-leyenda {

    &.disabled {
      opacity: 0.4;
    }
    a {
      &:visited {
        color: #333 !important;
      }
      &:active {
        color: #333 !important;
      }
      &:hover {
        color: #333 !important;
        text-decoration: none;
      }
    }

    .color-item {
      @extend .evento;
      width: 1.5em;
      height: 1.5em;
      padding: 0px;
      margin: 0px;

      display: block;
      vertical-align: middle;
      text-align: center;

      input {
        margin-left: 2px;
      }
    }
    .item {
      text-transform: uppercase;
      font-size: 0.9em !important;
      font-weight: bold;
    }
  }
}

/**
 * Leyenda de horario situada en un lateral del horario
 */

.leyenda-horario-lateral {
  @extend .leyenda-horario;
  li {
    p {
      display: block;
    }
  }
}
