#loading-indicator {

  position: fixed;
  top: 0;
  left: 0;
  z-index: 30000;
  max-width: 75%;

  .alert-box {
    margin-bottom: 0px;
    padding: 1em;
    opacity: 0.9;
    &.secondary {
      background-color: lightyellow;
    }
  }

}