@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Bellota+Text:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
.lleu {
  /*
   * El calendario es una tabla con la siguiente estructura de clases:
   *
   * table.cal
   *    thead
   *       tr
   *          th
   *    tbody
   *       tr
   *          td
   *              div.cal-monthday(.cal-othermonthday)
   *              div.cal-content
   *                  div.cal-event
   *                      div.cal-event-asignatura
   *                      div.cal-event-codigoasignatura
   *                      div.cal-event-inifin
   *                      div.cal-event-aula
   *
   * Para ver un ejemplo de calendario ver la opción "Exámenes" de los estudios.
   */
  /**
   * Estilo para el fragmento caja-asignatura
   */
  /**
   * Contiene los estilos para un filtro con botones. También gestionamos algún caso particular
   */
  /*
         -------------------------------------------------------------------------- ... --
         | Título                                             dato1   |  dato2   | (...) |
         | SUBTÍTULO                                         leyenda1 | leyenda2 | (...) |
         ---------------------------------------------------------------------------------
         < -------------------------- info -----------> <---------------- datos --------->
  */
  /**
   * Definimos dos clases para el contenedor de la leyenda:
   *
   *     .leyenda-horario          --> para leyendas en horizontal
   *       y
   *     .leyenda-horario-lateral  --> para leyendas en vertical
   */
  /**
   * Leyenda de horario situada en un lateral del horario
   */
  /**
   * Estilos para la página de horarios de estudio
   */
  /**
   * Estilos correspondientes a la página de circuitos
   */
  /**
   * Estilos para la página de requisitos de estudio
   */
  /**
   * Estilos para la página de requisitos de estudio
   */
  /**
   * Estilos para la página de información de estilo
   */
  /**
   * CSS para la página de resumen de créditos
   */
  /**
   * La página principal con el tab de estudios
   */
  /**
   * Página principal de una asignatura
   */
  /**
   * CSS para la página de Profesores de master */
  /**
   * Estilos para la página de horarios de estudio de master
   */
  /**
   * Página principal de una asignatura de master
   */
  /**
   * Estilos comunes aplicados a las opciones que tenemos disponibles cuando visitamos una asignatura en concreto.
   *
   * La estructura de la página es:
   *
   *    div.pagina-asignatura-cabecera
   *        div.titulo
   *        div.info
   *
   *            .asignaturaenlaces
   *            .asignaturasubenlaces
   *            .asignaturacreditos
   *
   *    div.pagina-asignatura-seccion
   *
   */
  /* ---- Start FOOTER ---- */
  /* ---- End FOOTER ---- */
}
.lleu .loading {
  z-index: 99999;
  display: block;
  opacity: 0.8;
}
.lleu .printeronly {
  display: none;
}
.lleu .estce {
  background-color: #007996;
  color: white;
}
.lleu .fcs {
  background-color: #007996;
  color: white;
}
.lleu .fchs {
  background-color: #007996;
  color: white;
}
.lleu .fcje {
  background-color: #007996;
  color: white;
}
.lleu .unknown {
  background-color: #007996;
}
.lleu .estce-deg {
  background-color: rgba(0, 121, 150, 0.2);
}
.lleu .fcs-deg {
  background-color: rgba(0, 121, 150, 0.2);
}
.lleu .fchs-deg {
  background-color: rgba(0, 121, 150, 0.2);
}
.lleu .fcje-deg {
  background-color: rgba(0, 121, 150, 0.2);
}
.lleu .unknown-deg {
  background-color: rgba(0, 121, 150, 0.2);
}
.lleu .estce-deg-prin {
  background-color: rgba(0, 100, 125, 0.2);
}
.lleu .fcs-deg-prin {
  background-color: rgba(0, 100, 125, 0.2);
}
.lleu .fchs-deg-prin {
  background-color: rgba(0, 100, 125, 0.2);
}
.lleu .fcje-deg-prin {
  background-color: rgba(0, 100, 125, 0.2);
}
.lleu .unknown-deg-prin {
  background-color: rgba(0, 100, 125, 0.2);
}
.lleu h1 {
  font-size: 1.5em !important;
}
.lleu h2 {
  font-size: 1.2em !important;
}
.lleu h3 {
  font-size: 1.2em !important;
}
.lleu a:active {
  color: #333;
}
.lleu a:visited {
  color: #333;
}
.lleu .titulo h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5em !important;
  line-height: 1.5em;
  margin-left: 16px;
  margin-right: 4px;
}
.lleu .subtitulo {
  background-color: unset;
  color: black;
  text-transform: uppercase;
  padding-left: unset;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 0em;
  margin-bottom: 1.5em;
  line-height: 1.2em;
}
.lleu .subtitulo h2 {
  font-size: 1.2em !important;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}
.lleu ul.button-group li:first-child {
  margin-left: -1px;
}
.lleu .codigo-asignatura, .lleu .evento .evasignatura, .lleu .coleccioneventos .evasignatura, .lleu .leyenda-horario .item-leyenda .color-item .evasignatura, .lleu .leyenda-horario-lateral .item-leyenda .color-item .evasignatura, .lleu table.cal tbody tr td div.cal-content .cal-event .cal-event-codigoasignatura {
  font-size: 0.9rem !important;
  display: inline;
}
.lleu .asignatura {
  background-color: #efefef;
  padding: 10px 16px 0px 16px;
  margin-bottom: 10px;
}
.lleu .asignatura .detalles {
  padding: 0px;
  border: none;
}
.lleu .asignatura p {
  text-transform: uppercase;
}
.lleu .asignatura p.titulo {
  font-weight: bold;
}
.lleu .asignatura .infoasignatura p {
  display: inline;
}
.lleu .asignatura table, .lleu .asignatura thead, .lleu .asignatura tr {
  background: #efefef;
  border: none;
  margin-bottom: 5px;
}
.lleu .asignatura table td, .lleu .asignatura thead td, .lleu .asignatura tr td {
  padding-right: 0px;
  color: #949496;
  text-align: center;
  padding: 5px 5px 5px 5px;
  border-right: 1px solid #949496;
}
.lleu .asignatura table td:last-child, .lleu .asignatura thead td:last-child, .lleu .asignatura tr td:last-child {
  border-right: none;
}
.lleu .asignatura table .cantidad, .lleu .asignatura thead .cantidad, .lleu .asignatura tr .cantidad {
  font-weight: bold;
  color: #949496 !important;
  font-size: 2em !important;
}
.lleu .asignatura table .leyenda, .lleu .asignatura thead .leyenda, .lleu .asignatura tr .leyenda {
  text-align: center !important;
  color: #949496 !important;
  text-transform: uppercase;
  font-size: 0.7em !important;
}
.lleu .asignatura table .sinplazas, .lleu .asignatura thead .sinplazas, .lleu .asignatura tr .sinplazas {
  color: #f07d78;
}
.lleu .notas {
  font-style: italic;
  font-size: 0.8rem !important;
  text-align: justify;
  padding: 10px;
}
.lleu .asignatura-cabecera .withacadselector, .lleu .estudio-cabecera .withacadselector {
  background-color: #949496;
}
.lleu .asignatura-cabecera .withacadselector .curso-fecha select, .lleu .estudio-cabecera .withacadselector .curso-fecha select {
  border: none;
  text-transform: uppercase;
  color: white;
  background-color: #949496;
  font-size: 16px;
  height: 31px;
  outline: none;
}
.lleu .modal {
  display: none;
  position: fixed;
  z-index: 999999;
  padding-top: 65px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}
.lleu .modal-content {
  margin: auto;
  display: block;
  overflow-y: auto;
  max-width: 80%;
  max-height: 85vh;
}
.lleu .subsubtitulo {
  background-color: #bbb;
  color: white;
  text-transform: uppercase;
  padding: 4px 0px 4px 16px;
  font-weight: bold;
}
.lleu .show-for-str {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.lleu .listadoEstudiosExtincionGrado {
  margin-top: 1rem;
}
.lleu .listadoEstudiosExtincionMaster {
  margin-top: 1rem;
}
.lleu .sb-fab-container .sb-cust-fab-buttons {
  padding: 10px;
  filter: drop-shadow(0 1px 1px #333);
  border-radius: 50%;
}
.lleu .sb-fab-container .sb-cust-fab-closed:hover {
  border-radius: 50%;
}
.lleu #loading-indicator {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30000;
  max-width: 75%;
}
.lleu #loading-indicator .alert-box {
  margin-bottom: 0px;
  padding: 1em;
  opacity: 0.9;
}
.lleu #loading-indicator .alert-box.secondary {
  background-color: lightyellow;
}
.lleu table.horario {
  width: 100%;
  border: 0px;
  border-collapse: separate;
  border-spacing: 0px;
}
.lleu table.horario .thead {
  background-color: #9793A2;
  color: white;
  font-weight: bold;
  border-right: 2px solid #9793a2;
}
.lleu table.horario .thead td:first-child {
  background-color: white;
  border: 0px;
  width: 10%;
}
.lleu table.horario .thead td {
  position: relative;
  width: 18%;
  font-size: 1em !important;
  text-align: center;
  color: white;
  border: 0px;
  vertical-align: middle;
  height: 3em;
  text-transform: uppercase;
}
.lleu table.horario tr:nth-child(2n) {
  background-color: transparent !important;
}
.lleu table.horario td:first-child {
  color: white;
  background-color: #C4C4C4;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 1px solid #F3F3F3;
  width: 10%;
}
.lleu table.horario td {
  padding: 0px;
  margin: 0px;
  position: relative;
  width: 18%;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #F3F3F3;
  border-right: 1px solid #d2d2d2;
}
.lleu table.horario tr {
  height: 3em;
}
.lleu table.horario tr.bold td {
  border-bottom: 1px solid #d2d2d2;
}
.lleu table.horario tr.bold td:first-child {
  border-bottom: 1px solid white;
}
.lleu table.horario tr.last td:first-child {
  border-bottom: 1px solid #d2d2d2;
}
.lleu table.horario.calendario .weekday .dayname, .lleu table.horario.calendario .weekday .month {
  text-transform: capitalize;
}
.lleu table.horario.calendario .weekday .month {
  font-weight: normal;
}
.lleu .evento, .lleu .coleccioneventos, .lleu .leyenda-horario .item-leyenda .color-item, .lleu .leyenda-horario-lateral .item-leyenda .color-item {
  width: 100%;
  z-index: 9999;
  background-color: indianred;
  text-align: left;
  padding: 0.3em 0.8em;
  overflow: hidden;
}
.lleu .evento.overflowed, .lleu .overflowed.coleccioneventos, .lleu .leyenda-horario .item-leyenda .overflowed.color-item, .lleu .leyenda-horario-lateral .item-leyenda .overflowed.color-item {
  z-index: 9999;
}
.lleu .evento.expanded, .lleu .expanded.coleccioneventos, .lleu .leyenda-horario .item-leyenda .expanded.color-item, .lleu .leyenda-horario-lateral .item-leyenda .expanded.color-item {
  z-index: 10000;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}
.lleu .evento .expand, .lleu .coleccioneventos .expand, .lleu .leyenda-horario .item-leyenda .color-item .expand, .lleu .leyenda-horario-lateral .item-leyenda .color-item .expand {
  position: absolute;
  bottom: 0px;
  right: 5px;
  cursor: pointer;
}
.lleu .evento.teoria, .lleu .teoria.coleccioneventos, .lleu .leyenda-horario .item-leyenda .teoria.color-item, .lleu .leyenda-horario-lateral .item-leyenda .teoria.color-item {
  background-color: #FFAEB7;
}
.lleu .evento.laboratorio, .lleu .laboratorio.coleccioneventos, .lleu .leyenda-horario .item-leyenda .laboratorio.color-item, .lleu .leyenda-horario-lateral .item-leyenda .laboratorio.color-item {
  background-color: #F8E48D;
}
.lleu .evento.problemas, .lleu .problemas.coleccioneventos, .lleu .leyenda-horario .item-leyenda .problemas.color-item, .lleu .leyenda-horario-lateral .item-leyenda .problemas.color-item {
  background-color: #8EE8B2;
}
.lleu .evento.tutoria, .lleu .tutoria.coleccioneventos, .lleu .leyenda-horario .item-leyenda .tutoria.color-item, .lleu .leyenda-horario-lateral .item-leyenda .tutoria.color-item {
  background-color: #AAC9F8;
}
.lleu .evento.era, .lleu .era.coleccioneventos, .lleu .leyenda-horario .item-leyenda .era.color-item, .lleu .leyenda-horario-lateral .item-leyenda .era.color-item {
  background-color: #f8b494;
}
.lleu .evento .evtitulo, .lleu .coleccioneventos .evtitulo, .lleu .leyenda-horario .item-leyenda .color-item .evtitulo, .lleu .leyenda-horario-lateral .item-leyenda .color-item .evtitulo {
  display: table-row;
  text-transform: uppercase;
  font-size: 0.8em !important;
  font-weight: normal;
}
.lleu .evento .evtitulo p, .lleu .coleccioneventos .evtitulo p, .lleu .leyenda-horario .item-leyenda .color-item .evtitulo p, .lleu .leyenda-horario-lateral .item-leyenda .color-item .evtitulo p {
  display: table-cell;
}
.lleu .evento .evasignatura, .lleu .coleccioneventos .evasignatura, .lleu .leyenda-horario .item-leyenda .color-item .evasignatura, .lleu .leyenda-horario-lateral .item-leyenda .color-item .evasignatura {
  text-transform: uppercase;
  cursor: pointer;
}
.lleu .evento .evlocaliza, .lleu .coleccioneventos .evlocaliza, .lleu .leyenda-horario .item-leyenda .color-item .evlocaliza, .lleu .leyenda-horario-lateral .item-leyenda .color-item .evlocaliza {
  cursor: pointer;
}
.lleu .evento .evsemestre, .lleu .coleccioneventos .evsemestre, .lleu .leyenda-horario .item-leyenda .color-item .evsemestre, .lleu .leyenda-horario-lateral .item-leyenda .color-item .evsemestre {
  text-transform: uppercase;
  font-size: 0.8em !important;
}
.lleu .evento.disabled, .lleu .disabled.coleccioneventos, .lleu .leyenda-horario .item-leyenda .disabled.color-item, .lleu .leyenda-horario-lateral .item-leyenda .disabled.color-item {
  display: none;
}
.lleu .coleccioneventos {
  background-color: #EFEFEF;
  z-index: 9999;
  border: 0.5px solid #ddd;
}
.lleu .coleccioneventos .colevento {
  margin-bottom: 1em;
  display: table-row;
}
.lleu .coleccioneventos .colevento.disabled {
  display: none !important;
}
.lleu .coleccioneventos .colevento.teoria .coleventotipo {
  background-color: #FFAEB7;
}
.lleu .coleccioneventos .colevento.laboratorio .coleventotipo {
  background-color: #F8E48D;
}
.lleu .coleccioneventos .colevento.problemas .coleventotipo {
  background-color: #8EE8B2;
}
.lleu .coleccioneventos .colevento.tutoria .coleventotipo {
  background-color: #AAC9F8;
}
.lleu .coleccioneventos .colevento.era .coleventotipo {
  background-color: #f8b494;
}
.lleu .coleccioneventos .colevento.disabled .coleventotipo {
  background-color: #dedede !important;
}
.lleu .coleccioneventos .colevento .coleventotipo {
  display: table-cell;
  vertical-align: top;
  float: left;
  width: 0.8em;
  height: 2.3em;
  background-color: red;
  margin-right: 1em;
}
.lleu .coleccioneventos .coleventoinfo {
  display: table-cell;
  vertical-align: top;
  margin-bottom: 1em;
}
.lleu span.tip {
  position: relative;
}
.lleu .icon-info {
  cursor: pointer;
}
.lleu .icon-info.icon-info-circled:before {
  font-size: 1.5em;
  color: #545454;
}
.lleu span.observaciones {
  display: none;
  z-index: 99999;
  position: absolute;
  top: 1.5em;
  left: 0em;
  width: 15em;
  background-color: #545454;
  border-radius: 0.25em;
  color: white;
  text-align: center;
  font-size: 1.5em !important;
  padding: 1em;
}
.lleu .weeknav {
  position: relative;
  white-space: nowrap;
  display: table;
  padding-bottom: 0.5em;
}
.lleu .weeknav .weekstr {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0em;
  vertical-align: middle;
  text-align: center;
  font-size: 0.9em !important;
}
.lleu .weeknav .nextweek {
  cursor: pointer;
}
.lleu .weeknav .prevweek {
  cursor: pointer;
}
.lleu .weeknav .btn_ira {
  position: relative;
  top: -1px;
  height: 22px !important;
  z-index: 30000;
}
.lleu .weeknav .btn_ira a {
  font-size: 0.71rem !important;
}
.lleu .weeknav .btn_ira div {
  font-size: 0.71rem !important;
  margin-top: 5px;
  font-weight: normal !important;
}
.lleu .weeknav .btn_ira div:hover {
  cursor: pointer;
  text-decoration: underline !important;
}
.lleu .weeknav .button.dropdown.tiny:after {
  border-color: #1d1d1d transparent transparent transparent;
}
.lleu .disabled-event {
  background-color: #dedede !important;
}
.lleu .eventos-dia h3 {
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
}
.lleu .eventos-dia .elemento-asignatura {
  background-color: #efefef;
  margin: 5px 0px;
  padding: 10px;
}
.lleu .eventos-dia .titulo {
  font-weight: bold;
}
.lleu .eventos-dia .label-tipo-grupo {
  font-size: 1em !important;
}
.lleu .breadcrumb {
  list-style: none;
  overflow: hidden;
}
.lleu .breadcrumb li {
  float: left;
}
.lleu .breadcrumb li a:hover {
  text-decoration: none;
}
.lleu .breadcrumb li p {
  display: inline-block;
}
.lleu .breadcrumb li .icon-right-dir:before {
  margin-right: 0px;
}
.lleu .breadcrumb li:first-child {
  font-weight: bold;
}
.lleu table.cal {
  width: 100%;
  border: 1px solid #888;
}
.lleu table.cal caption {
  font-weight: bold;
  font-size: 1.5em !important;
  margin-bottom: 1em;
}
.lleu table.cal thead tr {
  background-color: #9793A2;
}
.lleu table.cal thead tr th {
  border-right: 1px solid #b0abba;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-align: center;
  width: 16.66667%;
  max-width: 16.66667%;
}
.lleu table.cal thead tr th:last-child {
  border-right: none;
}
.lleu table.cal tbody tr {
  background-color: white !important;
}
.lleu table.cal tbody tr td {
  border: 1px solid #888;
  overflow-y: hidden;
  width: 16.66667%;
  max-width: 16.66667%;
}
.lleu table.cal tbody tr td div.cal-monthday {
  color: #888;
}
.lleu table.cal tbody tr td div.cal-othermonthday {
  color: #d4d4d4;
}
.lleu table.cal tbody tr td div.cal-content {
  min-height: 10em;
}
.lleu table.cal tbody tr td div.cal-content .cal-event {
  padding-bottom: 1em;
}
.lleu table.cal tbody tr td div.cal-content .cal-event .cal-event-asignatura {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em !important;
}
.lleu table.cal tbody tr td div.cal-content .cal-event .cal-event-codigoasignatura {
  display: block;
}
.lleu table.cal tbody tr td div.cal-content .cal-event .cal-event-tipo {
  text-transform: uppercase;
  display: block;
}
.lleu table.cal tbody tr td div.cal-content .cal-event .cal-event-provisional {
  padding: 5px;
  display: inline-block;
  line-height: 0.75em;
}
.lleu .caja-asignatura {
  background-color: #efefef;
  padding: 0.5em;
  margin-bottom: 10px;
}
.lleu .caja-asignatura p {
  text-transform: uppercase;
}
.lleu .caja-asignatura p.titulo {
  font-weight: bold;
}
.lleu .caja-asignatura .infoasignatura p {
  text-transform: capitalize;
  display: inline;
}
.lleu .caja-asignatura table {
  background: #efefef;
  border: none;
  margin-bottom: 0px;
}
.lleu .caja-asignatura table td {
  padding-right: 0px;
  color: #949496;
  text-align: center;
  padding: 5px 5px 5px 5px;
  border-right: 1px solid #949496;
}
.lleu .caja-asignatura table td:last-child {
  border-right: none;
}
.lleu .caja-asignatura table .cantidad {
  font-weight: bold;
  color: #949496 !important;
  font-size: 2em !important;
}
.lleu .caja-asignatura table .leyenda {
  text-align: center !important;
  color: #949496 !important;
  font-size: 1em !important;
  background-color: #efefef;
}
.lleu .caja-asignatura .caja-asignatura-info {
  float: right;
}
.lleu div.filtro input[type=button], .lleu div.filtro .button {
  font-size: 0.8em;
  background-color: #efefef;
  border: 1px solid #cecece;
  color: #4d4d4d;
  text-transform: uppercase;
  outline: none;
  white-space: normal;
  font-weight: normal;
}
.lleu div.filtro input[type=button]:hover, .lleu div.filtro .button:hover {
  background-color: #d0d0d0;
}
.lleu div.filtro input[type=button].active, .lleu div.filtro .button.active {
  outline: none;
  background-color: #d0d0d0;
}
.lleu div.filtro .filtro-grupo {
  margin-bottom: 1em;
}
.lleu div.filtro .filtro-grupo input {
  white-space: nowrap;
  width: 100%;
}
.lleu div.filtro .filtro-grupo li {
  padding-bottom: 0px;
  margin-left: 0px !important;
}
.lleu div.filtro .filtro-grupo li:nth-child(even) {
  padding-left: 0px;
}
.lleu div.filtro .filtro-grupo li:nth-child(odd) {
  padding-right: 0px;
}
.lleu div.filtro .filtro-buscar input[type=button] {
  background-color: #007996;
  color: white;
}
.lleu div.filtro .filtro-buscar img.clear-img {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 9px;
  width: 10px;
  height: 10px;
  border: 0px;
}
.lleu div.filtro .filtro-buscar input[type=text] {
  padding-right: 22px;
}
.lleu div.filtro .filtro-caracter li {
  padding-bottom: 0px;
  margin-left: 0px !important;
}
.lleu div.filtro .filtro-caracter .input[type=button], .lleu div.filtro .filtro-caracter .button {
  width: 100%;
}
.lleu div.filtro .filtro-curso .input[type=button], .lleu div.filtro .filtro-curso .button {
  padding: 10px 5px 10px 5px;
}
.lleu div.filtro .filtro-curso li {
  margin-left: 0px !important;
}
.lleu div.filtro .filtro-semestre li {
  margin-left: 0px !important;
}
.lleu .caja-examen {
  background-color: #efefef;
  display: table;
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}
.lleu .caja-examen .fecha-examen {
  display: table-cell;
  width: 6em;
  vertical-align: middle;
  background-color: #545454;
  color: white;
  text-align: center;
  text-transform: capitalize;
}
.lleu .caja-examen .fecha-examen .dia-examen {
  font-weight: bold;
  font-size: 2em !important;
  line-height: 1em;
  padding-top: 5px;
}
.lleu .caja-examen .info-examen {
  display: table-cell;
  vertical-align: top;
  padding: 5px 5px 5px 5px;
  text-transform: uppercase;
}
.lleu .caja-examen .info-examen table {
  width: 100%;
  text-align: center;
  border: none;
  margin-top: 0.5em;
  padding: 0.5em;
}
.lleu .caja-examen .info-examen table th {
  font-size: 1.2em !important;
  text-align: center;
  font-weight: bold;
  background-color: #efefef;
  padding: 0px;
}
.lleu .caja-examen .info-examen table td {
  font-size: 1.2em !important;
  text-align: center;
  background-color: #efefef;
  padding: 0px;
  min-width: 6em;
}
.lleu .caja-examen .info-examen .observacion {
  padding-top: 5px;
  text-transform: none;
  font-weight: bold;
  border-top: 1px solid #545454;
}
.lleu .caja-examen .info-examen .observacion p {
  font-weight: normal;
  padding-left: 10px;
}
.lleu .caja-examen .info-examen .provisional {
  text-align: center;
  font-size: 0.7em !important;
  border: none;
  margin-right: 10px;
}
.lleu .caja-examen .localiza-examen {
  border-top: 1px solid #545454;
}
.lleu .caja-info {
  background-color: #efefef;
  margin-bottom: 10px;
  padding: 0.5em;
}
.lleu .caja-info .titulo {
  text-transform: uppercase;
  font-weight: bold;
}
.lleu .caja-info .sub {
  text-transform: uppercase;
  display: inline;
  margin: 0px;
  padding: 0px;
}
.lleu .caja-info table.caja-info-datos {
  margin: 0;
  float: right;
  border: none;
  background-color: #efefef;
}
.lleu .caja-info table.caja-info-datos td {
  color: #949496;
  text-align: center;
  padding: 5px 5px 5px 5px;
  border-right: 1px solid #949496;
}
.lleu .caja-info table.caja-info-datos td:last-child {
  border-right: none;
}
.lleu .caja-info table.caja-info-datos .cantidad {
  font-weight: bold;
  color: #949496 !important;
  font-size: 3em !important;
}
.lleu .caja-info table.caja-info-datos .leyenda {
  text-align: center !important;
  color: #949496 !important;
  font-size: 1em !important;
  background-color: #efefef;
}
.lleu .leyenda-horario, .lleu .leyenda-horario-lateral {
  margin-bottom: 1em;
}
.lleu .leyenda-horario li p, .lleu .leyenda-horario-lateral li p {
  display: inline-block;
  margin-right: 1em;
}
.lleu .leyenda-horario .item-leyenda.disabled, .lleu .leyenda-horario-lateral .item-leyenda.disabled {
  opacity: 0.4;
}
.lleu .leyenda-horario .item-leyenda a:visited, .lleu .leyenda-horario-lateral .item-leyenda a:visited {
  color: #333 !important;
}
.lleu .leyenda-horario .item-leyenda a:active, .lleu .leyenda-horario-lateral .item-leyenda a:active {
  color: #333 !important;
}
.lleu .leyenda-horario .item-leyenda a:hover, .lleu .leyenda-horario-lateral .item-leyenda a:hover {
  color: #333 !important;
  text-decoration: none;
}
.lleu .leyenda-horario .item-leyenda .color-item, .lleu .leyenda-horario-lateral .item-leyenda .color-item {
  width: 1.5em;
  height: 1.5em;
  padding: 0px;
  margin: 0px;
  display: block;
  vertical-align: middle;
  text-align: center;
}
.lleu .leyenda-horario .item-leyenda .color-item input, .lleu .leyenda-horario-lateral .item-leyenda .color-item input {
  margin-left: 2px;
}
.lleu .leyenda-horario .item-leyenda .item, .lleu .leyenda-horario-lateral .item-leyenda .item {
  text-transform: uppercase;
  font-size: 0.9em !important;
  font-weight: bold;
}
.lleu .leyenda-horario-lateral li p {
  display: block;
}
.lleu .flatpickr-calendar, .lleu .ui-datepicker {
  z-index: 30001 !important;
}
.lleu .alert-box.lleualertbox {
  z-index: 30000;
  max-width: 18em;
  width: 18em;
  background-color: lightyellow;
  color: black;
  text-decoration: none;
  padding: 1em;
  text-shadow: none;
  white-space: normal;
  border: 1px solid black;
  display: none;
  position: absolute;
  top: 25px;
  left: 0px;
}
.lleu .estilo-horario {
  display: inline-block;
  margin-bottom: 2em;
}
.lleu .estilo-horario input.active {
  background-color: #d0d0d0;
}
.lleu .sia_badge {
  position: absolute;
  top: -1em;
  right: 0em;
  width: 2em;
  height: 2em;
  padding: 0.25em;
  z-index: 200000;
  background-color: red;
  color: white;
  font-weight: bold;
  border-radius: 1em;
  font-size: 0.8em !important;
  opacity: 0.8;
  text-align: center;
}
.lleu div.estudio-cabecera .titulo {
  color: white;
  text-transform: uppercase;
}
.lleu div.estudio-cabecera .titulo .grado {
  padding-right: 0px;
}
.lleu div.estudio-cabecera .titulo .grado h1 {
  padding-left: 10px;
  font-size: 1.5em !important;
  line-height: 1.5em;
  margin-left: 4px;
}
.lleu div.estudio-cabecera .titulo .curso-fecha select {
  border: none;
  text-transform: uppercase;
  color: white;
  background-color: #949496;
  font-size: 16px;
  height: 31px;
  outline: none;
}
.lleu div.estudio-cabecera .creditos {
  padding: 20px 10px 10px;
  text-transform: uppercase;
}
.lleu div.estudio-cabecera .creditos table {
  border: 0px;
}
.lleu div.estudio-cabecera .creditos table tbody tr td {
  text-align: center;
}
.lleu div.estudio-cabecera .creditos .cantidad {
  font-weight: bold;
  font-size: 3em !important;
}
.lleu div.estudio-cabecera .creditos .leyenda {
  background-color: white;
  font-size: 1em !important;
}
.lleu div.estudio-cabecera .secciones {
  border: none;
  font-size: 1.1em !important;
}
.lleu div.estudio-cabecera .secciones li {
  margin-bottom: 0.3em;
}
.lleu div.estudio-cabecera .secciones .principal {
  text-transform: uppercase;
  font-weight: bold;
}
.lleu div.asignatura-cabecera .titulo {
  color: white;
  text-transform: uppercase;
}
.lleu div.asignatura-cabecera .titulo .grado {
  padding-right: 0px;
}
.lleu div.asignatura-cabecera .titulo .grado h1 {
  padding-left: 10px;
  font-size: 1.5em !important;
  line-height: 1.5em;
  margin-right: 4px;
  margin-left: 4px;
}
.lleu div.asignatura-cabecera .titulo .infocabecera {
  padding-left: 15px;
  font-size: 0.8rem !important;
}
.lleu div.asignatura-cabecera .creditos {
  padding: 20px 5px 5px 0px;
  text-transform: uppercase;
}
.lleu div.asignatura-cabecera .creditos table {
  border: 0px;
}
.lleu div.asignatura-cabecera .creditos table tbody tr td {
  text-align: center;
}
.lleu div.asignatura-cabecera .creditos .cantidad {
  font-weight: bold;
  font-size: 2em !important;
}
.lleu div.asignatura-cabecera .creditos .leyenda {
  background-color: white;
  font-size: 1em !important;
}
.lleu div.asignatura-cabecera.master .creditos .cantidad {
  font-size: 3em !important;
}
.lleu div.asignatura-cabecera .secciones {
  border: none;
  min-height: 100px;
  font-size: 1.1em !important;
}
.lleu div.asignatura-cabecera .secciones li {
  margin-bottom: 0.3em;
}
.lleu div.asignatura-cabecera .secciones .principal {
  text-transform: uppercase;
  font-weight: bold;
}
.lleu div.asignatura-cabecera .secciones td {
  padding-top: 20px;
}
.lleu div.estudio-info .cabecera.titulo {
  background-color: #545454;
  margin-bottom: 10px;
  color: white;
  text-transform: uppercase;
}
.lleu div.estudio-info .cabecera.titulo h1 {
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1.5em;
  font-size: 1.5em !important;
}
.lleu div.estudio-info .cabecera.titulo .curso-select form {
  line-height: 1.1em;
  font-size: 1.1em !important;
}
.lleu div.estudio-info .cabecera.titulo .curso-select form select {
  outline: none;
  text-transform: uppercase;
  padding-left: 4px;
  padding-right: 4px;
  border: none;
  color: white;
  background-color: #949496;
  height: 31px;
}
.lleu div.estudio-info .cabecera.titulo .curso-select form label {
  text-transform: uppercase;
  background-color: #545454;
  height: 31px;
  color: white;
  margin-bottom: 0px;
  padding-left: 4px;
}
.lleu div.estudio-info .asignatura {
  background-color: #efefef;
  padding: 10px 8px 0px 8px;
  margin-bottom: 10px;
}
.lleu div.estudio-info .asignatura .detalles {
  padding: 0px;
  border: none;
}
.lleu div.estudio-info .asignatura .detalles div.h6 {
  font-weight: bold;
  line-height: 1rem;
}
.lleu div.estudio-info .asignatura p {
  text-transform: uppercase;
}
.lleu div.estudio-info .asignatura p.titulo {
  font-weight: bold;
}
.lleu div.estudio-info .asignatura .infoasignatura p {
  text-transform: capitalize;
}
.lleu div.estudio-info .asignatura .accordion {
  margin: 0px;
  color: white;
  border-bottom: none;
}
.lleu div.estudio-info .asignatura .accordion .title {
  padding: 3px 0px 3px 10px;
  border: none;
  margin-bottom: 1px;
  color: #666;
  background-color: #ddd;
  width: 11em;
}
.lleu div.estudio-info .asignatura .accordion .title:after {
  top: 5px;
  border-color: #666 transparent transparent transparent;
}
.lleu div.estudio-info .asignatura .accordion ul {
  margin: 0px 20px;
}
.lleu div.estudio-info .asignatura .accordion li {
  background-color: #ddd;
}
.lleu div.estudio-info .asignatura .accordion li.active .title:after {
  top: 0px;
  border-color: transparent transparent #666 transparent !important;
}
.lleu div.estudio-info .asignatura .accordion .content {
  background-color: #ddd;
  padding: 0px;
  border-top: 1px solid #fff;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.lleu div.estudio-info .asignatura .accordion .content .secciones {
  display: table-cell;
  width: 35%;
  padding: 20px 0 10px 0;
  font-weight: bold;
}
.lleu div.estudio-info .asignatura .accordion .content .secciones a {
  color: #666;
}
.lleu div.estudio-info .asignatura .accordion .content .info {
  border-left: solid 1px;
  display: table-cell;
}
.lleu div.estudio-info .asignatura .accordion .content .info table {
  margin-right: 20px;
}
.lleu div.estudio-info .asignatura .accordion .content .info table, .lleu div.estudio-info .asignatura .accordion .content .info thead, .lleu div.estudio-info .asignatura .accordion .content .info tr {
  background: #ddd;
  border: none;
}
.lleu div.estudio-info .asignatura .accordion .content .info td {
  color: #666;
  text-align: center;
  white-space: nowrap;
  padding-right: 0px;
}
.lleu div.estudio-info .asignatura .accordion .content .info th {
  color: #666;
  text-align: center;
  padding-right: 0px;
}
.lleu div.estudio-info .asignatura .accordion .content .info td:first-child {
  text-align: right;
}
.lleu div.estudio-info .asignatura .accordion li {
  border: none;
}
.lleu div.estudio-info .asignatura .accordion li.active {
  border-top: none;
}
.lleu div.estudio-info .filtro-semestre li:nth-child(3) {
  width: 100% !important;
}
.lleu div.mis-horarios {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px solid #545454;
  text-align: center;
}
.lleu div.mis-horarios p {
  color: #545454;
  font-weight: bold;
  text-transform: uppercase;
}
.lleu .estudio-extincion td:nth-child(2) {
  display: none;
}
.lleu .estudio-extincion td:nth-child(3) {
  width: 50%;
}
.lleu .estudio-sub-extincion table.vacantesGrupos th:nth-child(3) {
  visibility: hidden;
}
.lleu .estudio-sub-extincion table.vacantesGrupos td:nth-child(3) {
  visibility: hidden;
}
.lleu table.vacantesGrupos {
  width: 75%;
}
.lleu table.vacantesGrupos thead th {
  width: 12em;
}
.lleu table.vacantesGrupos .expand {
  width: 2em;
  cursor: pointer;
}
.lleu table.vacantesGrupos thead, .lleu table.vacantesGrupos tr {
  background: #efefef;
  border: none;
}
.lleu table.vacantesGrupos thead td, .lleu table.vacantesGrupos tr td {
  padding-right: 0px;
  color: #949496;
  text-align: center;
  padding: 5px 5px 5px 5px;
  text-transform: uppercase;
}
.lleu table.vacantesGrupos thead td:last-child, .lleu table.vacantesGrupos tr td:last-child {
  border-right: none;
}
.lleu table.vacantesGrupos thead .cantidad, .lleu table.vacantesGrupos tr .cantidad {
  font-weight: bold;
  color: #949496 !important;
  font-size: 3em !important;
}
.lleu table.vacantesGrupos thead .leyenda, .lleu table.vacantesGrupos tr .leyenda {
  text-align: center !important;
  color: #949496 !important;
  font-size: 1em !important;
}
.lleu table.vacantesGrupos thead .sinplazas, .lleu table.vacantesGrupos tr .sinplazas {
  color: #f07d78 !important;
}
.lleu table.vacantesGrupos tbody td {
  border: none;
}
.lleu table.vacantesGrupos tbody tr.vacantesGrupo td:first-child {
  font-weight: bold;
  text-align: right;
  width: 4em;
}
.lleu table.vacantesGrupos tbody tr.vacantesSubgrupo:first-child {
  text-align: right;
  width: 4em;
}
.lleu .desplegable {
  background-color: #002744;
}
.lleu.page-horariosestudio ul.leyenda-horario, .lleu.page-horariosestudio ul.leyenda-horario-lateral {
  margin-top: 1em;
}
.lleu.page-horariosestudio .filtro-semestre li:nth-child(3) {
  width: 100% !important;
}
@media (min-width: 768px) {
  .lleu.page-horariosestudio .weeknav {
    float: right;
  }
}
@media (max-width: 767px) {
  .lleu.page-horariosestudio .weeknav {
    margin-right: auto;
    margin-left: auto;
  }
}
.lleu.page-horariosestudio .lleualertbox {
  position: absolute;
  top: 2em;
  right: 10em;
  padding: 1em;
}
.lleu.page-horariosestudio .sineventos {
  padding-left: 1em;
}
.lleu.page-horariosestudio .oculto {
  visibility: hidden;
}
.lleu.page-horariosestudio div.mis-horarios p {
  display: flex;
  background-color: orange;
  color: white;
  border-radius: 2px;
  align-items: center;
  padding: 0.7rem;
}
.lleu.page-horariosestudio div.mis-horarios .icon-calendar:before {
  content: url("/sia/pix/google-calendar.svg");
  font-size: 2.2em;
}
.lleu.page-circuitos p.descripcion {
  margin: 0px 16px 1em 16px;
  text-align: justify;
}
.lleu.page-circuitos label {
  margin-bottom: 1em;
}
.lleu.page-circuitos .filtro-circuito .circuito-cerrado {
  color: red;
}
.lleu.page-circuitos #circuito-cerrado {
  color: red;
}
.lleu.page-circuitos #leyenda-horario {
  margin-top: 2em;
}
.lleu.page-circuitos h3 {
  margin-bottom: 1em;
}
.lleu.page-circuitos .weeknav {
  float: right;
}
.lleu.page-circuitos table.caja-asignatura-info {
  float: right;
}
.lleu.page-circuitos table.caja-asignatura-info tr.cantidad td {
  font-size: 0.8em !important;
}
.lleu.page-circuitos table.caja-asignatura-info tr.leyenda td {
  text-transform: uppercase;
}
.lleu.page-circuitos div.mis-horarios p {
  display: flex;
  background-color: orange;
  color: white;
  border-radius: 2px;
  align-items: center;
  padding: 0.7rem;
}
.lleu.page-circuitos div.mis-horarios .icon-calendar:before {
  content: url("/sia/pix/google-calendar.svg");
  font-size: 2.2em;
}
.lleu.page-requisitos-matricula p.descripcion {
  margin-bottom: 1.5em;
}
.lleu.page-requisitos-matricula form.custom {
  margin-bottom: 2em;
  margin-left: 16px;
  margin-right: 16px;
}
.lleu.page-requisitos-matricula form.custom label {
  font-weight: normal;
  line-height: 2em;
}
.lleu.page-requisitos-matricula .reconocimiento {
  margin-left: 16px;
  margin-right: 16px;
}
.lleu.page-requisitos-matricula .reconocimiento h2 {
  font-weight: bold;
  margin-bottom: 1em;
}
.lleu.page-requisitos-matricula .reconocimiento .asignatura {
  background-color: white;
  padding-left: 0px;
  padding-right: 0px;
}
.lleu.page-requisitos-matricula .reconocimiento .asignatura .caja-asignatura {
  background-color: white;
  padding-left: 0px;
}
.lleu.page-requisitos-matricula .caja-info {
  margin-left: 16px;
  padding-bottom: 0;
  margin-bottom: 16px;
}
.lleu.page-requisitos-matricula .caja-info .sub {
  text-transform: none;
}
.lleu.page-requisitos-matricula .caja-info .leyenda {
  text-transform: uppercase;
}
.lleu.page-requisitosmatriculaasig .caja-info, .lleu.page-requisitosmatriculaasig .caja-asignatura {
  margin-left: 16px;
  padding-bottom: 0;
}
.lleu.page-requisitosmatriculaasig .caja-info .sub, .lleu.page-requisitosmatriculaasig .caja-asignatura .sub {
  text-transform: none;
}
.lleu.page-requisitosmatriculaasig .caja-info .leyenda, .lleu.page-requisitosmatriculaasig .caja-asignatura .leyenda {
  text-transform: uppercase;
}
.lleu.page-requisitosmatriculaasig .comentarios {
  margin-left: 16px;
}
.lleu.page-requisitosmatriculaasig .comentarios li {
  list-style: disc;
}
.lleu.page-informacion-estilo .ambito {
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 3em;
}
.lleu.page-informacion-estilo .ambito h2 {
  font-weight: bold;
  margin-bottom: 1em;
}
.lleu.page-informacion-estilo .ambito .asignatura {
  padding-bottom: 0.5em;
}
.lleu.page-resumen-creditos table.resumencreditos {
  margin-left: auto;
  margin-right: auto;
  border: none;
}
.lleu.page-resumen-creditos table.resumencreditos thead {
  border: none;
  background-color: white;
  text-transform: uppercase;
}
.lleu.page-resumen-creditos table.resumencreditos thead th {
  font-size: 1.3em !important;
  font-weight: bold;
  color: #949496 !important;
}
.lleu.page-resumen-creditos table.resumencreditos tbody td {
  font-size: 2em !important;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  color: #949496 !important;
}
.lleu .estudios {
  /**
   * En una pantalla pequeña, el formato de los tabs cambia
   *
  @media screen and (max-width: $small-screen-width) {
    .tabs {
      dd {
        display: none;

        &.active {
          display: block;
          width: 90%;
        }
        &.estudios-menu {
          display: block;
        }
      }
    }
  }
  */
}
.lleu .estudios p {
  font-style: italic;
  margin-bottom: 1em;
}
.lleu .estudios form.custom div.custom.dropdown {
  width: auto !important;
}
.lleu .estudios .tabs {
  margin-bottom: 1.5em;
}
.lleu .estudios .tabs dd, .lleu .estudios .tabs li {
  background-color: #f1f1f1;
}
.lleu .estudios .tabs dd a, .lleu .estudios .tabs li a {
  color: #6E6E6E !important;
  font-weight: bold;
  border-right: unset;
}
.lleu .estudios .tabs dd a:hover, .lleu .estudios .tabs li a:hover {
  text-decoration: none;
}
.lleu .estudios .tabs dd.active a, .lleu .estudios .tabs li.active a {
  color: black !important;
  background-color: #c7c7c7;
}
.lleu .estudios .tabs dd.active, .lleu .estudios .tabs li.active {
  border-top: none;
  margin-top: 0px;
}
.lleu .estudios .tabs dd.estudios-menu {
  display: none;
  color: black;
  background-color: transparent;
  font-size: 1.8em !important;
  padding-left: 0.5em;
  width: 2em;
  cursor: pointer;
}
.lleu .estudios .tipoestudios {
  text-transform: uppercase;
}
.lleu .estudios .centro {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  padding: 0.5em 0em 0.5em 1em;
  margin: 1em 0 1em 0;
}
.lleu .estudios .centro:first-child {
  margin-top: 0px;
}
.lleu .estudios .estudio {
  padding-left: 1em;
}
.lleu .estudios summary {
  list-style: none;
  cursor: pointer;
  color: #333333;
  font-size: 14.08px !important;
}
.lleu .estudios summary::after {
  content: '\25BA';
  right: 0;
  transition: transform 0.3s ease;
  margin-left: 5px;
}
.lleu .estudios details[open] summary::after {
  content: '\25BC';
}
.lleu .estudios details {
  font-size: 14.08px !important;
}
.lleu .estudios .subtitulo {
  background-color: unset;
  color: black;
  text-transform: uppercase;
  padding-left: unset;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 1.5em;
  margin-bottom: 0;
  line-height: 1.2em;
}
.lleu .estudios .subtitulo h2 {
  font-size: 1.2em !important;
  font-weight: bold;
  padding: 0px;
  margin: 0px;
}
.lleu.page-examenesestudio p.descripcion {
  margin: 0px 16px 1em 16px;
  text-align: justify;
}
.lleu.page-examenesestudio #filtro-epoca-examenes {
  float: right;
}
.lleu.page-examenesestudio #contenerlistaexamenes {
  display: none;
}
@media print {
  .lleu.page-examenesestudio #contenerlistaexamenes {
    display: block;
  }
}
.lleu.page-examenesestudio .itemListaExamen {
  margin-bottom: 1em;
}
.lleu.page-examenesestudio .itemListaExamen .diaExamen {
  border-bottom: 1px solid black;
  font-weight: bold;
}
.lleu.page-asignaturaprincipal #filtro-horario ul.button-group li:first-child {
  margin-left: 0px;
}
.lleu.page-asignaturaprincipal #filtro-horario .filtro-semestre {
  margin-left: 1em;
}
.lleu.page-asignaturaprincipal #leyenda-subgrupos p.item {
  text-transform: capitalize;
  font-weight: normal;
}
@media (min-width: 768px) {
  .lleu.page-asignaturaprincipal .weeknav {
    float: right;
  }
}
@media (max-width: 767px) {
  .lleu.page-asignaturaprincipal .weeknav {
    margin-right: auto;
    margin-left: auto;
  }
}
.lleu.page-asignaturaprincipal .comentarios li {
  list-style: disc;
  margin-left: 2.5rem;
}
.lleu.page-asignaturaprincipal .lleualertbox {
  position: absolute;
  top: 2em;
  right: 10em;
  padding: 1em;
}
.lleu.page-asignaturaprincipal .sineventos {
  padding-left: 1em;
}
.lleu.page-asignaturaprincipal .oculto {
  visibility: hidden;
}
.lleu.page-profesores .grupo {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 1em;
  margin-top: 0.5em;
  font-size: 1.3rem !important;
  background-color: #bbb;
  color: white;
  padding: 0.7rem;
}
.lleu.page-profesores .subgrupo {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 1em;
  font-size: 1.3rem !important;
  margin-top: 1em;
  background-color: #d5d5d5;
  color: white;
}
.lleu.page-profesores .profesores {
  margin-bottom: 1.1em;
}
.lleu.page-profesores .profesor {
  padding: 0.6em 0.6em 0px 0.6em;
}
.lleu.page-profesores .profesor .caja {
  padding: 0.5em 0.5em 0 0.5em;
}
.lleu.page-profesores .profesor .caja .titulo {
  text-transform: uppercase;
  font-weight: bold;
}
.lleu.page-profesores .profesor .caja .foto {
  width: 5em !important;
}
.lleu.page-profesores .profesor .caja p.nombre {
  text-transform: none;
}
.lleu.page-profesores .profesor .caja p::first-letter {
  text-transform: capitalize;
}
.lleu.page-profesores .profesor a {
  text-decoration: underline;
}
.lleu.page-profesores .profesor .sub {
  font-size: 0.9rem !important;
  text-transform: capitalize !important;
}
.lleu.page-profesores .profesor .email {
  font-size: 0.9rem !important;
}
.lleu.page-profesores .contenido {
  margin-bottom: 2em;
}
.lleu.page-profesores .tutorias .nombre {
  font-weight: bold;
  color: black;
  font-size: 1.2em !important;
}
.lleu.page-profesores .tutorias .virtuales {
  font-size: 0.9rem !important;
}
.lleu.page-profesores .tutorias .link {
  margin-bottom: 1em;
}
.lleu.page-profesores .tutorias .tutorias-table {
  margin-bottom: 1em;
}
.lleu.page-profesores .tutorias .tutorias-table .titulo {
  text-transform: uppercase;
}
.lleu.page-profesores .tutorias .tutorias-table table {
  width: 100%;
  border: none;
  margin-top: 0.5em;
  padding: 0.5em;
  font-size: 1.5em !important;
}
.lleu.page-profesores .tutorias .tutorias-table table thead {
  background: none;
}
.lleu.page-profesores .tutorias .tutorias-table table thead tr {
  border-bottom: 1px solid #949496;
}
.lleu.page-profesores .tutorias .tutorias-table table thead tr th {
  padding: 0 0 0.5em 0;
  text-align: center;
  font-weight: bold;
}
.lleu.page-profesores .tutorias .tutorias-table table tbody td {
  font-size: 0.8em !important;
  min-width: 6em;
  padding: 0.3em 0px 0px 0px;
  margin-bottom: 0.5em;
  vertical-align: middle;
  text-align: center;
}
.lleu.page-presentacion h3 {
  margin-top: 2em;
  margin-bottom: 1em;
}
.lleu.page-profesores-estudio .departamento {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 16px;
  margin-top: 10px;
  font-size: 1.3rem !important;
  background-color: #bbb;
  color: white;
}
.lleu.page-profesores-estudio .last {
  margin-bottom: 2em;
}
.lleu.page-profesores-estudio .profesor {
  padding: 10px 10px 0px 10px;
}
.lleu.page-profesores-estudio .profesor accordion li {
  background-color: #777777;
}
.lleu.page-profesores-estudio .profesor .accordion {
  margin: 0px;
  border-bottom: none;
  background-color: white;
}
.lleu.page-profesores-estudio .profesor .accordion .title {
  padding: 3px 0px 3px 10px;
  border: none;
  margin-bottom: 1px;
  color: #666;
  background-color: white;
  width: 12em;
  text-decoration: underline;
}
.lleu.page-profesores-estudio .profesor .accordion .title:after {
  top: 5px;
  border-color: #666 transparent transparent transparent;
}
.lleu.page-profesores-estudio .profesor .accordion ul {
  margin: 0px 20px;
}
.lleu.page-profesores-estudio .profesor .accordion li.active .title:after {
  top: 0px;
  border-color: transparent transparent black transparent !important;
}
.lleu.page-profesores-estudio .profesor .accordion .content {
  padding: 0px;
  border-top: 1px solid #fff;
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.lleu.page-profesores-estudio .profesor .accordion .content .secciones {
  display: table-cell;
  width: 35%;
  padding: 0px 0 10px 0;
}
.lleu.page-profesores-estudio .profesor .accordion .content .secciones li {
  background-color: #efefef;
  padding: 10px;
}
.lleu.page-profesores-estudio .profesor .accordion li {
  border: none;
}
.lleu.page-profesores-estudio .profesor .accordion li.active {
  border-top: none;
}
.lleu.page-profesores-estudio .profesor .caja {
  padding: 0.5em 0.5em 0 0.5em;
}
.lleu.page-profesores-estudio .profesor .caja .titulo {
  text-transform: uppercase;
  font-weight: bold;
}
.lleu.page-profesores-estudio .profesor .caja .foto {
  width: 5em !important;
}
.lleu.page-profesores-estudio .profesor .detalles {
  border: none;
}
.lleu.page-especialidades .especialidad {
  margin-top: 2em;
}
.lleu.page-especialidades .especialidad h2 {
  font-weight: bold;
  margin-bottom: 1em;
}
.lleu.page-generar-horarios .leyenda-horario, .lleu.page-generar-horarios .leyenda-horario-lateral {
  margin-left: auto;
  margin-right: auto;
}
.lleu.page-generar-horarios input[type=button].generar {
  width: 100%;
}
.lleu.page-generar-horarios div.filtro .selecciona-cursos input[type=button], .lleu.page-generar-horarios div.filtro .selecciona-cursos .button {
  font-size: 0.8em;
  background-color: #efefef;
  border: 1px solid #cecece;
  color: #4d4d4d;
  text-transform: uppercase;
  outline: none;
  white-space: normal;
  font-weight: normal;
}
.lleu.page-generar-horarios div.filtro .selecciona-cursos input[type=button]:hover, .lleu.page-generar-horarios div.filtro .selecciona-cursos .button:hover {
  background-color: #d0d0d0;
}
.lleu.page-generar-horarios div.filtro .selecciona-cursos input[type=button].active, .lleu.page-generar-horarios div.filtro .selecciona-cursos .button.active {
  outline: none;
  background-color: #d0d0d0;
}
.lleu.page-generar-horarios div.filtro .selector-asignaturas .content {
  padding: 0px;
}
.lleu.page-generar-horarios div.filtro .selector-asignaturas .content .selector-asignatura {
  padding: 0px 15px 10px 15px;
  font-size: 0.9em !important;
}
.lleu.page-generar-horarios div.filtro .selector-asignaturas .content .selector-asignatura .seleccion_grupos {
  display: none;
}
.lleu.page-generar-horarios div.filtro .selector-asignaturas .content .selector-asignatura.selected {
  background-color: lightyellow;
}
.lleu.page-generar-horarios div.filtro .selector-asignaturas .content .selector-asignatura.selected .seleccion_grupos {
  display: block;
}
.lleu.page-generar-horarios div.filtro .selector-asignaturas li.accordion-navigation.active {
  border-top: none !important;
}
.lleu.page-generar-horarios div.filtro .selector-asignaturas li.accordion-navigation.active .title:after {
  top: 15px;
  border-color: transparent transparent #666 transparent !important;
}
.lleu.page-generar-horarios div.filtro .selector-asignaturas .title:after {
  border-color: #666 transparent transparent transparent;
}
.lleu.page-generar-horarios div.filtro .filtro-curso .input[type=button], .lleu.page-generar-horarios div.filtro .filtro-curso .button {
  padding: 10px 5px 10px 5px;
}
.lleu.page-generar-horarios div.filtro .filtro-curso li {
  position: relative;
  margin-left: 0px !important;
}
.lleu.page-generar-horarios .selecciona-cursos {
  font-weight: bold;
  margin-top: 1em;
}
.lleu.page-generar-horarios .selecciona-cursos span {
  font-size: 1rem !important;
}
@media print {
  .lleu.page-generar-horarios .noprinter {
    display: none;
  }
  .lleu.page-generar-horarios .printeronly {
    display: block;
  }
}
.lleu.page-reconocimientos .desc p {
  text-align: justify;
  margin-bottom: 0.5em;
}
.lleu.page-reconocimientos .desc a {
  font-weight: bold;
}
.lleu.page-reconocimientos .desc a:link {
  text-decoration: underline;
}
.lleu.page-reconocimientos h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.lleu.page-reconocimientos .caja-asignatura, .lleu.page-reconocimientos .caja-info {
  background-color: white;
  padding-left: 16px;
}
.lleu.page-reconocimientos .caja-asignatura .caja-asignatura-info, .lleu.page-reconocimientos .caja-info .caja-asignatura-info {
  display: none;
}
.lleu.page-horariosmaster ul.leyenda-horario, .lleu.page-horariosmaster ul.leyenda-horario-lateral {
  margin-top: 1em;
}
.lleu.page-horariosmaster .filtro-semestre li:nth-child(3) {
  width: 100% !important;
}
@media (min-width: 768px) {
  .lleu.page-horariosmaster .weeknav {
    float: right;
  }
}
@media (max-width: 767px) {
  .lleu.page-horariosmaster .weeknav {
    margin-right: auto;
    margin-left: auto;
  }
}
.lleu.page-horariosmaster .lleualertbox {
  position: absolute;
  top: 2em;
  right: 10em;
  padding: 1em;
}
.lleu.page-horariosmaster .sineventos {
  padding-left: 1em;
}
.lleu.page-horariosmaster .sineventos div {
  display: inline;
}
.lleu.page-horariosmaster .oculto {
  visibility: hidden;
}
.lleu.page-horariosmaster div.mis-horarios p {
  display: flex;
  background-color: orange;
  color: white;
  border-radius: 2px;
  align-items: center;
  padding: 0.7rem;
}
.lleu.page-horariosmaster div.mis-horarios .icon-calendar:before {
  content: url("/sia/pix/google-calendar.svg");
  font-size: 2.2em;
}
.lleu.page-asigmasterprincipal #filtro-horario ul.button-group li:first-child {
  margin-left: 0px;
}
.lleu.page-asigmasterprincipal #filtro-horario .filtro-semestre {
  margin-left: 1em;
}
.lleu.page-asigmasterprincipal #leyenda-subgrupos p.item {
  text-transform: capitalize;
  font-weight: normal;
}
@media (min-width: 768px) {
  .lleu.page-asigmasterprincipal .weeknav {
    float: right;
  }
}
@media (max-width: 767px) {
  .lleu.page-asigmasterprincipal .weeknav {
    margin-right: auto;
    margin-left: auto;
  }
}
.lleu.page-asigmasterprincipal .comentarios li {
  list-style: disc;
  margin-left: 2.5rem;
}
.lleu.page-asigmasterprincipal .lleualertbox {
  position: absolute;
  top: 2em;
  right: 10em;
  padding: 1em;
}
.lleu.page-asigmasterprincipal .sineventos {
  padding-left: 1em;
}
.lleu.page-asigmasterprincipal .oculto {
  visibility: hidden;
}
.lleu.page-examenesmaster p.descripcion {
  margin: 0px 16px 1em 16px;
  text-align: justify;
}
.lleu.page-examenesmaster #filtro-epoca-examenes {
  float: right;
}
.lleu.page-examenesmaster #contenerlistaexamenes {
  display: none;
}
@media print {
  .lleu.page-examenesmaster #contenerlistaexamenes {
    display: block;
  }
}
.lleu.page-examenesmaster .itemListaExamen {
  margin-bottom: 1em;
}
.lleu.page-examenesmaster .itemListaExamen .diaExamen {
  border-bottom: 1px solid black;
  font-weight: bold;
}
.lleu .pagina-asignatura-cabecera {
  margin-bottom: 1em;
  /** información de la asignatura y opciones **/
}
.lleu .pagina-asignatura-cabecera .info {
  background-color: #efefef;
  padding: 16px 16px 16px 16px;
}
.lleu .pagina-asignatura-cabecera .info.requisito {
  padding: 0px;
}
.lleu .pagina-asignatura-cabecera .info .enlaces {
  text-transform: uppercase;
}
.lleu .pagina-asignatura-cabecera .info .enlaces p {
  font-weight: bold;
}
.lleu .pagina-asignatura-cabecera .info .subenlaces p {
  text-transform: none;
}
.lleu .pagina-asignatura-cabecera .info table.creditos {
  float: right;
  background-color: #efefef;
  border: none;
  margin: 0;
}
.lleu .pagina-asignatura-cabecera .info table.creditos td {
  background-color: #efefef;
  width: 2em;
  border-left: 1px solid #949496;
}
.lleu .pagina-asignatura-cabecera .info table.creditos td:first-child {
  border-left: none;
}
.lleu .pagina-asignatura-cabecera .info table.creditos .cantidad td {
  font-weight: bold;
  color: #949496 !important;
  font-size: 3em !important;
  text-align: center !important;
  padding-bottom: 0px !important;
}
.lleu .pagina-asignatura-cabecera .info table.creditos .leyenda td {
  text-align: center !important;
  color: #949496 !important;
  font-size: 1em !important;
  padding-bottom: 0px !important;
}
.lleu .pagina-asignatura-seccion .info {
  margin-bottom: 2em;
  text-align: justify;
  margin-left: 16px;
}
.lleu .pagina-asignatura-seccion .reqasignaturas {
  margin-bottom: 2em;
}
.lleu .temario .titulo {
  padding-bottom: 0.5em;
  font-size: 1.5em !important;
}
.lleu .temario .contenido {
  padding-bottom: 0.5em;
}
.lleu .uppercase {
  text-transform: uppercase !important;
}
.lleu .competencias .codigo-asignatura, .lleu .competencias .evento .evasignatura, .lleu .evento .competencias .evasignatura, .lleu .competencias .coleccioneventos .evasignatura, .lleu .coleccioneventos .competencias .evasignatura, .lleu .competencias .leyenda-horario .item-leyenda .color-item .evasignatura, .lleu .leyenda-horario .item-leyenda .color-item .competencias .evasignatura, .lleu .competencias .leyenda-horario-lateral .item-leyenda .color-item .evasignatura, .lleu .leyenda-horario-lateral .item-leyenda .color-item .competencias .evasignatura, .lleu .competencias table.cal tbody tr td div.cal-content .cal-event .cal-event-codigoasignatura, .lleu table.cal tbody tr td div.cal-content .cal-event .competencias .cal-event-codigoasignatura {
  font-size: 1.2rem !important;
}
.lleu p.descripcion {
  margin-bottom: 1.5em;
}
.lleu h3 {
  font-weight: bold;
}
.lleu .examenes h3 {
  text-transform: uppercase;
}
.lleu .examenes .row {
  padding-left: 16px;
}
.lleu .evaluacion-contenido {
  padding-left: 16px;
}
.lleu .evaluacion-contenido h3 {
  margin: 1em 0em 1em 0em;
}
.lleu .etiqueta {
  font-weight: bold;
  text-transform: uppercase;
}
.lleu .actionlink {
  margin: 1em 0em 1em 0em;
}
.lleu .caja-evaluacion {
  background-color: #efefef;
  padding: 0.5em 1em 0.5em 1em;
}
.lleu .caja-evaluacion li {
  margin-bottom: 0.2em;
}
.lleu .caja-evaluacion .valor {
  font-weight: bold;
  color: #949496 !important;
  font-size: 3em !important;
}
.lleu .caja-evaluacion .titulo {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0px;
  padding: 0px;
}
.lleu .criterios p {
  margin-left: 1em;
}
.lleu .reconocimientos .estudio {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 16px;
  margin-bottom: 20px;
  font-size: 1.3rem !important;
  background-color: #bbb;
  color: white;
  padding: 0.7rem;
}
.lleu .reconocimientos .reconocimiento {
  padding-left: 16px;
  margin-bottom: 20px;
}
.lleu .reconocimientos .reconocimiento .titulo {
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
.lleu .reconocimientos .reconocimiento .infoasignatura p {
  display: inline;
  text-transform: uppercase;
}
.lleu .reconocimientos .reconocimiento .tipo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem !important;
  color: #949496;
}
.lleu .reconocimientos .reconocimiento .reconocida {
  padding-left: 20px;
  margin-bottom: 15px;
}
.lleu .reconocimientos .reconocimiento .cursada {
  margin-bottom: 15px;
}
.lleu .reconocimientos .reconocimiento .apartado p {
  font-size: 1.2em !important;
  font-weight: bold;
  padding: 0px;
  margin-bottom: 20px;
}
.lleu .reconocimientos .reconocimiento table {
  width: 100%;
  border: none;
  margin-top: 0.5em;
  padding: 0.5em;
}
.lleu .reconocimientos .reconocimiento table thead {
  background: none;
}
.lleu .reconocimientos .reconocimiento table tr {
  background: none;
  border-bottom: 1pt solid #949496;
}
.lleu .reconocimientos .reconocimiento table tr:last-child {
  border-bottom: none;
}
.lleu .reconocimientos .reconocimiento table th {
  font-size: 1.2em !important;
  font-weight: bold;
  background: none;
  padding: 0px;
}
.lleu .reconocimientos .reconocimiento table td {
  font-size: 1.2em !important;
  min-width: 6em;
  padding: 5px 0px 0px 0px;
  margin-bottom: 10px;
  vertical-align: middle;
}
.lleu .reconocimientos .reconocimiento table tr td:last-child {
  padding-left: 5px;
}
.lleu .reconocimientos .contempla {
  display: inline;
}
.lleu .reconocimientos a {
  font-weight: bold;
}
.lleu .reconocimientos a:link {
  text-decoration: underline;
}
.lleu .itinerarios .estudio {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 16px;
  margin-top: 10px;
  margin-bottom: 1.5em;
  font-size: 1.3rem !important;
  background-color: #bbb;
  color: white;
}
.lleu .itinerarios .subsubtitulo {
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 16px;
  margin-bottom: 20px;
  font-size: 1.3rem !important;
  background-color: #bbb;
  color: white;
  padding: 0.7rem;
}
.lleu .itinerarios .creditos {
  font-weight: bold;
}
.lleu .itinerarios .menciones {
  margin-top: 1em;
}
.lleu .itinerarios .itinerario {
  padding-left: 16px;
  margin-bottom: 20px;
}
.lleu .itinerarios .itinerario .titulo {
  font-weight: bold;
  text-transform: uppercase;
}
.lleu .itinerarios .itinerario .apartado h2 {
  font-size: 1.2em !important;
  font-weight: bold;
  padding: 0px;
  margin-bottom: 20px;
}
.lleu .itinerarios .itinerario .info {
  text-align: center;
}
.lleu .itinerarios .itinerario table {
  width: 100%;
  border: none;
  margin-top: 0.5em;
  padding: 0.5em;
  font-size: 1.5em !important;
}
.lleu .itinerarios .itinerario table thead {
  background: none;
}
.lleu .itinerarios .itinerario table thead tr {
  border-bottom: 1px solid #949496;
}
.lleu .itinerarios .itinerario table thead tr th {
  padding: 0 0 0.5em 0;
  font-weight: bold;
}
.lleu .itinerarios .itinerario table tbody td {
  font-size: 0.8em !important;
  min-width: 6em;
  padding: 5px 0px 0px 0px;
  margin-bottom: 10px;
  vertical-align: middle;
}
.lleu .itinerarios .asignatura {
  font-weight: bold;
  text-transform: uppercase;
}
.lleu .informacion .contenido {
  padding-left: 16px;
}
.lleu .informacion h3 {
  font-weight: bold;
  margin: 1em 0em 1em 0em;
}
.lleu .informacion li {
  list-style: disc;
  margin-left: 2.5rem;
  text-decoration: underline;
}
.lleu .eep .descripcion {
  text-align: justify !important;
}
.lleu .eep .descripcion p {
  margin-top: 0px;
}
.lleu .eep .asig {
  font-weight: bold;
  margin-top: 5px;
}
.lleu .eep .contenido {
  margin-left: 16px;
  margin-right: 16px;
}
.lleu .eep p {
  margin-top: 1em;
}
.lleu .eep .descrip {
  display: inline;
}
.lleu .eep li {
  list-style-type: none;
  font-size: 1em !important;
  list-style: disc;
  margin-left: 2.5rem;
}
.lleu .eep a {
  font-weight: bold;
}
.lleu .eep a:link {
  text-decoration: underline;
}
.lleu .uji-header {
  /* End body, header, main, wrap */
  /* padding horizontal dinamico */
  /* End padding horizontal dinamico */
  /* Start Flex Structure */
  /* End Flex Structure */
  /* Start Hide elements  */
  /* End Hide elements */
  /* ---- Start HEADER ---- */
  /* Text */
  /* End Text */
  /* Idioma */
  /* End Idioma */
  /* Images */
  /* End Images */
  /* START DROPDOWN MENU */
  /* END DROPDOWN MENU */
  /* Start menuMobile icon */
  /* End menuMobile icon */
  /* Start SideBar */
  /* End SideBar */
  /* ---- End HEADER ---- */
}
.lleu .uji-header header {
  background: #002744;
  color: #fff;
  padding: 0.5rem 0;
  padding-left: 3rem;
  padding-right: 3rem;
}
@media (max-width: 1023px) {
  .lleu .uji-header header {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.lleu .uji-header main {
  flex-grow: 1;
}
.lleu .uji-header footer {
  text-align: center;
  margin-bottom: 3rem;
  color: #71757f;
  font-size: 15px;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
}
.lleu .uji-header .wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.lleu .uji-header .wrap:before, .lleu .uji-header header .wrap:after {
  display: none;
}
.lleu .uji-header .responsive-padding-horizontal {
  padding-left: 3rem;
  padding-right: 3rem;
}
@media (max-width: 1023px) {
  .lleu .uji-header .responsive-padding-horizontal {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.lleu .uji-header .flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.lleu .uji-header .flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.lleu .uji-header .flex-space-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
.lleu .uji-header .flex-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: end;
}
.lleu .uji-header .flex-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
@media (max-width: 639px) {
  .lleu .uji-header .hide-small {
    display: none !important;
  }
}
@media (max-width: 1023px) {
  .lleu .uji-header .hide-medium {
    display: none !important;
  }
}
@media (min-width: 1024px) {
  .lleu .uji-header .hide-large {
    display: none !important;
  }
}
.lleu .uji-header header h1 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
  padding-right: 1.2rem;
  font-size: 2em;
}
@media (max-width: 1023px) {
  .lleu .uji-header header h1 {
    padding-right: .6rem;
  }
}
.lleu .uji-header header .title-page {
  display: inline-block;
  padding-left: 10px;
  font-size: 19px !important;
  font-weight: 700;
  font-family: "Bellota Text", Helvetica, Arial, sans-serif;
}
.lleu .uji-header header .bold {
  font-weight: 700;
}
.lleu .uji-header header .idioma a {
  padding: 0.7rem 0.5rem;
}
.lleu .uji-header header a:hover {
  color: inherit;
}
.lleu .uji-header header img {
  vertical-align: bottom;
}
.lleu .uji-header .logout-icon {
  padding: 0 0 0 22px;
}
.lleu .uji-header .logout-icon > div {
  background: url(https://static.uji.es/design/www.uji.es/2021/assets/img/editlogout.png) no-repeat;
  background-position: -60px -2px !important;
  display: inline-block;
  width: 25px;
  height: 25px;
}
.lleu .uji-header a.menu-btn {
  line-height: 1;
  background-color: #002744;
  color: white;
  font-size: 14px !important;
  text-decoration: none;
  display: inline-block;
  padding: 1px 22px;
}
.lleu .uji-header .dropdown {
  position: relative;
}
.lleu .uji-header .dropdown .menu-btn::after {
  display: inherit;
  width: 0;
  height: 0;
  border: inset 6px;
  content: "";
  border-bottom-width: 0;
  border-top-style: solid;
  border-color: white transparent;
  margin-left: 6px;
  margin-bottom: 1px;
}
.lleu .uji-header .dropdown:hover .dropdown-content {
  display: block;
}
.lleu .uji-header .dropdown-content {
  display: none;
  position: absolute;
  background: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: .4em;
  min-width: max-content;
}
.lleu .uji-header .dropdown-content a {
  color: #002744;
  font-weight: 400;
  font-size: 14px !important;
  text-decoration: none;
  display: block;
  padding: .4em .8em;
  line-height: 1;
}
.lleu .uji-header .dropdown-content a:hover {
  color: #02c;
}
.lleu .uji-header header .menu-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 16px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.lleu .uji-header header .menu-icon::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  -webkit-box-shadow: 0 7px 0 #fff,0 14px 0 #fff;
  box-shadow: 0 7px 0 #fff,0 14px 0 #fff;
  content: "";
}
.lleu .uji-header header .menu-icon:hover::after {
  background: #cacaca;
  -webkit-box-shadow: 0 7px 0 #cacaca,0 14px 0 #cacaca;
  box-shadow: 0 7px 0 #cacaca, 0 14px 0 #cacaca;
}
.lleu .uji-header .show-for-sr, .lleu .uji-header .show-on-focus {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.lleu .uji-header #mySidenav {
  display: none;
}
.lleu .uji-header .sidenav {
  width: 100%;
  transition: 0.5s;
  font-size: 19px;
  font-family: "Bellota Text",Helvetica,Arial,sans-serif;
  font-weight: 700;
  line-height: 1;
}
.lleu .uji-header .sidenav .logout-icon {
  padding: .7rem 1rem;
}
.lleu .uji-header .sidenav .logout-icon > div {
  background-position: -89px -2px !important;
}
.lleu .uji-header .sidenav a {
  color: #002744;
  background: white;
}
.lleu .uji-header .sidenav a:hover {
  color: #02c;
}
.lleu .uji-header .sidenav .closebtn {
  text-align: end;
  font-size: 36px !important;
  padding: 0 2rem 0;
  text-decoration: none;
  display: block;
}
.lleu .uji-header .sidenav > div {
  flex-direction: column;
  padding: 0 1rem 1rem;
}
.lleu .uji-header .sidenav .menu-btn {
  font-size: 19px !important;
  padding: 0.7rem 1rem;
}
.lleu .uji-header .sidenav .dropdown .menu-btn:after {
  border-color: #002744 transparent;
  margin-left: 5px;
  margin-bottom: 2px;
}
.lleu .uji-header .sidenav .dropdown-content a {
  font-weight: 700;
  font-size: 17px !important;
  padding: 0.4em;
  max-width: 200px;
}
.lleu .uji-header .sub-header {
  flex-direction: column;
  padding-right: 8px;
}
.lleu .uji-header .sub-header .fecha {
  margin-top: 1em;
}
.lleu .uji-header .sub-header .manual {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.lleu .uji-header .sub-header .manual a {
  color: #002b44;
}
.lleu .uji-header .curso-no-activo {
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: red;
  color: white;
  z-index: 30000;
  width: 100%;
  min-height: 2em;
  opacity: 0.8;
  padding: 2em;
}
.lleu .uji-header .curso-no-activo p {
  text-align: center;
  font-size: 1.4em !important;
}
.lleu footer {
  font-size: 15px !important;
  line-height: 1.6;
  color: #71757f;
  margin-top: 3rem;
  /* padding horizontal dinamico */
  /* End padding horizontal dinamico */
}
.lleu footer .responsive-padding-horizontal {
  padding-left: 3rem;
  padding-right: 3rem;
}
@media (max-width: 1023px) {
  .lleu footer .responsive-padding-horizontal {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.lleu footer .flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.lleu footer .flex-wrap {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.lleu footer .flex-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
.lleu footer .barTop {
  padding: 1rem 0;
  background-color: #002744;
  margin-bottom: 1rem;
}
.lleu footer p {
  margin-top: 0;
  margin-bottom: 0;
}
.lleu footer a {
  text-decoration: none;
  color: #002744;
  margin-right: 8px;
  margin-left: 8px;
}
.lleu footer a:hover {
  color: #02c;
}
.lleu footer .mediumText p {
  font-size: 13px !important;
  line-height: 1.6;
}
.lleu footer .lineFooter {
  text-align: center;
}
.lleu footer .lineFooter::before, .lleu footer .lineFooter:after {
  height: 1px;
  background: #c1c0c075;
  display: inline-block;
  content: "";
  width: 100%;
  position: relative;
  top: 0;
}
.lleu footer .lineFooter::after {
  top: -4px;
}
.lleu footer .logoENS {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: .5;
  margin-top: 10px;
  width: auto;
  height: 85px;
}
.lleu footer .logoENS:hover {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
  transition: 0.5s;
}

/*# sourceMappingURL=lleu.css.map */
