/* PRINT */
@media print {
  header {
    color: black !important;
  }

  header a:after, footer a:after {
    content: none !important;
  }

  header .title-page {
    display: inline !important;
  }

  header img {
    filter: invert(100%) grayscale(100%) brightness(2) !important;
  }

  .lleu .uji-header img.hide-medium {
    display: inline-block !important;
  }

  header img.hide-large {
    display: none !important;
  }

  .lleu .uji-header .hide-small {
    display: inline-block !important;
  }

  footer {
    clear: both;
    page-break-inside: avoid;
  }

  ul.tipoestudios {
    border: none;
    margin-bottom: 0 !important;
  }

  ul.tipoestudios > :not(li.active) a {
    font-weight: normal !important;
  }

  ul.tipoestudios > li.active a {
    border: 0;
  }

  div#filtro-asignaturas {
    width: 100% !important;
  }

  div#filtro-asignaturas .button.active {
    font-weight: bold !important;
  }

  div#filtro-asignaturas .button:not(.active) {
    display: none !important;
  }

  div#filtro-asignaturas .filtro {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .estudio-info .row .twelve {
    width: 100% !important;
  }

  div.mis-horarios {
    border: 0 !important;
  }

  div#filtro-horario .filtro-grupo > li {
    width: 100%;
  }

  div#filtro-horario .button.active {
    font-weight: bold !important;
  }

  div#filtro-horario .button:not(.active) {
    display: none !important;
  }

  .lleu .caja-asignatura, .asignatura {
    page-break-inside: avoid !important;
  }

  .lleu .titulo h1, .estudio-cabecera h1 {
    margin-bottom: 1em;
    margin-left: 0 !important;
  }

  .infocabecera {
    padding-left: 0 !important;
  }

  .lleu.page-asignaturaprincipal .weeknav {
    margin: 0;
  }

  .estilo-horario :not(.active) {
    display: none !important;
  }

  .evento, .coleccioneventos {
    background-color: white !important;
    border: 1px solid black !important;
  }

  .asignatura-cabecera .row > div {
    width: 100%;
  }

  .asignatura-cabecera .secciones {
    margin-bottom: 0;
  }

  .row.coneventos > div {
    width: 100% !important;
  }

  .page-examenesestudio .button.active {
    font-weight: 700 !important;
  }

  .page-examenesestudio .button:not(.active) {
    display: none !important;
  }

  .page-circuitos .row > div {
    width: 100% !important;
  }

  .page-circuitos .button-group.two-up li {
    width: auto !important;
  }

  .item-leyenda {
    display: inline-block;
  }

  .reqasignaturas > div {
    width: 100% !important;
  }
}
/* End Print */

/*# sourceMappingURL=print.css.map */
