/*
Error: Undefined variable: "$fgcolor-grey-claro".
        on line 13 of /home/juan/IntelliJ/LLEU/uji-lleu-base/src/main/sass/seccionasignatura.scss

8:     margin-bottom: 2em;
9:   }
10: }
11: 
12: .asignatura {
13:   background-color: $fgcolor-grey-claro;
14: }
15: .asignaturatitulo {
16:   border-bottom: 1px solid black;
17:   padding-bottom: 0.5em;
18:   h2 {

Backtrace:
/home/juan/IntelliJ/LLEU/uji-lleu-base/src/main/sass/seccionasignatura.scss:13
uri:classloader:/gems/sass-3.4.22/lib/sass/script/tree/variable.rb:49:in `_perform'
uri:classloader:/gems/sass-3.4.22/lib/sass/script/tree/node.rb:58:in `perform'
uri:classloader:/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:397:in `visit_prop'
uri:classloader:/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
uri:classloader:/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
uri:classloader:/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
uri:classloader:/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
uri:classloader:/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
uri:classloader:/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
org/jruby/RubyArray.java:2300:in `map'
uri:classloader:/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
uri:classloader:/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
uri:classloader:/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
uri:classloader:/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
uri:classloader:/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
uri:classloader:/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
uri:classloader:/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
uri:classloader:/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
uri:classloader:/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
org/jruby/RubyArray.java:2300:in `map'
uri:classloader:/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
uri:classloader:/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
uri:classloader:/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
uri:classloader:/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
uri:classloader:/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
uri:classloader:/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
uri:classloader:/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
uri:classloader:/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:163:in `visit'
uri:classloader:/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
uri:classloader:/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
uri:classloader:/gems/sass-3.4.22/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
uri:classloader:/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
uri:classloader:/gems/sass-3.4.22/lib/sass/engine.rb:299:in `render_with_sourcemap'
uri:classloader:/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
uri:classloader:/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
org/jruby/RubyArray.java:1560:in `each'
uri:classloader:/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
uri:classloader:/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
uri:classloader:/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:331:in `block in watch'
org/jruby/RubyProc.java:318:in `call'
uri:classloader:/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `on_change'
uri:classloader:/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
org/jruby/RubyProc.java:318:in `call'
uri:classloader:/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
uri:classloader:/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
uri:classloader:/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$fgcolor-grey-claro\".\A         on line 13 of /home/juan/IntelliJ/LLEU/uji-lleu-base/src/main/sass/seccionasignatura.scss\A \A 8:     margin-bottom: 2em;\A 9:   }\A 10: }\A 11: \A 12: .asignatura {\A 13:   background-color: $fgcolor-grey-claro;\A 14: }\A 15: .asignaturatitulo {\A 16:   border-bottom: 1px solid black;\A 17:   padding-bottom: 0.5em;\A 18:   h2 {"; }
